<!DOCTYPE html>
<html data-wf-domain="www.veo.co" data-wf-page="65c1f26994399a0f1f11409b" data-wf-site="65a1660e61e47f70a246ac5c"
	data-wf-intellimize-customer-id="117902240" lang="en-GB"
	data-wf-experiences="417241064,417241120,417227001,417234632,417226224">
<head>
	<meta charset="utf-8" />
	<title>Smart Sports Tracking Camera: Record, Stream &amp; Analyse | Veo</title>
	<link rel="alternate" hreflang="x-default" href="#" />
	<link rel="alternate" hreflang="en-GB" href="#" />
	<link rel="alternate" hreflang="en-US" href="#" />
	<link rel="alternate" hreflang="es" href="#" />
	<link rel="alternate" hreflang="it" href="#" />
	<link rel="alternate" hreflang="ja" href="#" />
	<link rel="alternate" hreflang="fr" href="#" />
	<link rel="alternate" hreflang="de" href="#" />
	<link rel="alternate" hreflang="pl" href="#" />
	<meta
		content="Capture, analyse, and share every moment with Veo Cam 3 – the AI-powered sports camera that records matches automatically for teams of all levels."
		name="description" />
	<meta content="Smart Sports Tracking Camera: Record, Stream &amp; Analyse | Veo" property="og:title" />
	<meta
		content="Capture, analyse, and share every moment with Veo Cam 3 – the AI-powered sports camera that records matches automatically for teams of all levels."
		property="og:description" />
	<meta content="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/65d752ab1a2073825be9ee98_vc3.jpg"
		property="og:image" />
	<meta content="Smart Sports Tracking Camera: Record, Stream &amp; Analyse | Veo" property="twitter:title" />
	<meta
		content="Capture, analyse, and share every moment with Veo Cam 3 – the AI-powered sports camera that records matches automatically for teams of all levels."
		property="twitter:description" />
	<meta content="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/65d752ab1a2073825be9ee98_vc3.jpg"
		property="twitter:image" />
	<meta property="og:type" content="website" />
	<meta content="summary_large_image" name="twitter:card" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link href="external/css/style-65a1660e61e47f70a246ac5c.css" rel="stylesheet" type="text/css"
		integrity="sha384-rZv2wB+IyQujvzLtZx+UubgpAU4ZVQRp/XQkM12lJQS2+kFnM5SMoWsSOvjZWqTA" crossorigin="anonymous" />
	<link rel="stylesheet" href="inline/style-1.css" />
	<script src="inline/script-1.js" type="text/javascript"></script>
	<link href="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/65bb7a5a989476b40a2293df_Favicon.jpg"
		rel="shortcut icon" type="image/x-icon" />
	<link href="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/65bb7a601b236f902678372c_Webclip%201.png"
		rel="apple-touch-icon" />
	<link href="#" rel="canonical" />
	<link rel="stylesheet" href="inline/style-2.css" />
	<link rel="stylesheet" href="inline/style-3.css" />
	<script src="inline/script-2.js" type="text/javascript"></script>
	<script src="inline/script-3.js" type="text/javascript"></script>
	<script src="inline/script-4.js" type="text/javascript"></script>
	<link href="https://cdn.intellimize.co/snippet/117902240.js" rel="preload" as="script" />
	<script src="inline/script-5.js" type="text/javascript"></script>
	<link href="https://api.intellimize.co" rel="preconnect" crossorigin="true" />
	<link href="https://log.intellimize.co" rel="preconnect" crossorigin="true" />
	<link href="https://117902240.intellimizeio.com" rel="preconnect" />
	<!-- Custom CSS -->
	<link rel="stylesheet" href="inline/style-4.css" />
	<!-- Preconnect to CDNs -->
	<link rel="preconnect" href="https://cdn.prod.website-files.com" crossorigin="" />
	<meta property="og:site_name" content="Veo Sports Camera" />
	<!-- International Phone Input Library -->
	<script defer="" src="external/js/script-npm-build.js"
		integrity="sha256-npDu7MO3WrZf+fwMz9cQpBJ1epM6gJhAMzRsXmo9QfU=" crossorigin="anonymous"></script>
	<!--International Phone Input Library CSS -->
	<link rel="stylesheet" href="external/css/style-npm-build.css"
		integrity="sha256-BKQ1x9PzZ9mBZUSXXCTetTWW9i+AHYofII1OVcx8Qnc=" crossorigin="anonymous" media="print"
		onload="this.media=&#39;all&#39;; this.onload=null;" />
	<link rel="stylesheet" href="inline/style-5.css" />
	<!-- Google Tag Manager -->
	<script src="inline/script-6.js"></script>
	<!-- End Google Tag Manager -->
	<!-- GA4 click and submit events -->
	<script src="inline/script-7.js" type="text/javascript"></script>
	<!-- End GA4 click and submit events -->
	<!-- [Attributes by Finsweet] Disable scrolling -->
	<script defer="" src="external/js/script-npm.js"></script>
	<!-- Hide language banner buttons until country is detected -->
	<link rel="stylesheet" href="inline/style-6.css" />
	<!-- Avoid brief website flash before loader is shown -->
	<link rel="stylesheet" href="inline/style-7.css" />
	<!-- GSAP Generel – CDNJS -->
	<script src="external/js/script-ajax-libs-gsap.js"></script>
	<script src="external/js/script-ajax-libs-gsap-1.js"></script>
	<!-- Referral Rock script -->
	<script src="inline/script-8.js"></script>
	<!-- Custom open chat button -->
	<script src="inline/script-9.js"></script>
	<!-- Prices from catalog API • v1.1.1 -->
	<script src="inline/script-10.js"></script>
	<!-- Always allow Optimize on staging -->
	<script src="inline/script-11.js"></script>
	<!-- Redirect logged in users to app.veo.co -->
	<script src="inline/script-12.js"></script>
	<!-- Swiper JS -->
	<script defer="" src="external/js/script-npm-1.js"
		integrity="sha384-Z8zwe4UlCA9xiPVMGPhmzBsPAEVtt/gabOsU+0A8Lf67I0MjHjP+UzNYng2CtJar"
		crossorigin="anonymous"></script>
	<!-- Swiper CSS -->
	<link rel="stylesheet" href="external/css/style-npm.css"
		integrity="sha256-737i9ZaGsvKB1ggYUHH+lfX9J/JShC5igROHfhW30ko=" crossorigin="anonymous" media="print"
		onload="this.media=&#39;all&#39;; this.onload=null;" />
	<link rel="stylesheet" href="inline/style-8.css" />
	<!-- Swiper END -->
	<script src="external/js/script-65a1660e61e47f70a246ac5c-652d31f3dc22d7b4ee708e44-67bc5e2d2ccb5df5d13fefdf.js"
		type="text/javascript"></script>
</head>
<body>
<%- body %>
</body>
</html>
