<footer class="footer_component background-color-primary">
			<div class="padding-footer">
				<div class="container-large">
					<div class="footer_padding">
						<div class="footer_some-wrapper">
							<div class="footer_some-wrapper-inner">
								<a href="/" aria-label="Veo"
									data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122a8f"
									data-wf-ao-click-engagement-tracking="true"
									data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122a8f"
									data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
									aria-current="page" class="footer_logo-link w-nav-brand w--current" style="min-width:320px;">
									<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" alt="Kabaka 2" class="footer_logo" style="width:320px;height:auto;max-width:none;display:block;" />
								</a>
								<div class="w-layout-grid footer_social-icons">
									<a aria-label="Veo on Facebook"
										data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122a97"
										data-wf-ao-click-engagement-tracking="true"
										data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122a97"
										data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
										href="#" target="_blank"
										class="footer_social-link w-inline-block">
										<div class="icon-embed-xsmall w-embed">
											<svg width="100%" height="100%" viewBox="0 0 24 24" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M22 12.0611C22 6.50451 17.5229 2 12 2C6.47715 2 2 6.50451 2 12.0611C2 17.0828 5.65684 21.2452 10.4375 22V14.9694H7.89844V12.0611H10.4375V9.84452C10.4375 7.32296 11.9305 5.93012 14.2146 5.93012C15.3088 5.93012 16.4531 6.12663 16.4531 6.12663V8.60261H15.1922C13.95 8.60261 13.5625 9.37822 13.5625 10.1739V12.0611H16.3359L15.8926 14.9694H13.5625V22C18.3432 21.2452 22 17.083 22 12.0611Z"
													fill="CurrentColor"></path>
											</svg>
										</div>
									</a>
									<a aria-label="Veo on TikTok "
										data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122a99"
										data-wf-ao-click-engagement-tracking="true"
										data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122a99"
										data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
										href="#" target="_blank"
										class="footer_social-link w-inline-block">
										<div class="icon-embed-xsmall w-embed">
											<svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink"
												aria-hidden="true" role="img" class="iconify iconify--ic" width="100%"
												height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
												<path fill="currentColor"
													d="M16.6 5.82s.51.5 0 0A4.278 4.278 0 0 1 15.54 3h-3.09v12.4a2.592 2.592 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48">
												</path>
											</svg>
										</div>
									</a>
									<a aria-label="Veo on Instagram"
										data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122a9b"
										data-wf-ao-click-engagement-tracking="true"
										data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122a9b"
										data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
										href="#" target="_blank"
										class="footer_social-link w-inline-block">
										<div class="icon-embed-xsmall w-embed">
											<svg width="100%" height="100%" viewBox="0 0 24 24" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" clip-rule="evenodd"
													d="M16 3H8C5.23858 3 3 5.23858 3 8V16C3 18.7614 5.23858 21 8 21H16C18.7614 21 21 18.7614 21 16V8C21 5.23858 18.7614 3 16 3ZM19.25 16C19.2445 17.7926 17.7926 19.2445 16 19.25H8C6.20735 19.2445 4.75549 17.7926 4.75 16V8C4.75549 6.20735 6.20735 4.75549 8 4.75H16C17.7926 4.75549 19.2445 6.20735 19.25 8V16ZM16.75 8.25C17.3023 8.25 17.75 7.80228 17.75 7.25C17.75 6.69772 17.3023 6.25 16.75 6.25C16.1977 6.25 15.75 6.69772 15.75 7.25C15.75 7.80228 16.1977 8.25 16.75 8.25ZM12 7.5C9.51472 7.5 7.5 9.51472 7.5 12C7.5 14.4853 9.51472 16.5 12 16.5C14.4853 16.5 16.5 14.4853 16.5 12C16.5027 10.8057 16.0294 9.65957 15.1849 8.81508C14.3404 7.97059 13.1943 7.49734 12 7.5ZM9.25 12C9.25 13.5188 10.4812 14.75 12 14.75C13.5188 14.75 14.75 13.5188 14.75 12C14.75 10.4812 13.5188 9.25 12 9.25C10.4812 9.25 9.25 10.4812 9.25 12Z"
													fill="CurrentColor"></path>
											</svg>
										</div>
									</a>
									<a aria-label="Veo on X (Twitter)"
										data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122a9d"
										data-wf-ao-click-engagement-tracking="true"
										data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122a9d"
										data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
										href="#" target="_blank"
										class="footer_social-link w-inline-block">
										<div class="icon-embed-xsmall w-embed">
											<svg width="100%" height="100%" viewBox="0 0 24 24" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M17.1761 4H19.9362L13.9061 10.7774L21 20H15.4456L11.0951 14.4066L6.11723 20H3.35544L9.80517 12.7508L3 4H8.69545L12.6279 9.11262L17.1761 4ZM16.2073 18.3754H17.7368L7.86441 5.53928H6.2232L16.2073 18.3754Z"
													fill="CurrentColor"></path>
											</svg>
										</div>
									</a>
								</div>
							</div>
							<div data-w-id="5a289369-1a88-1acf-15f7-5bc937122b04" class="line-divider"></div>
						</div>
						<div class="padding-bottom padding-xxlarge">
							<div class="w-layout-grid footer_top-wrapper">
								<div id="w-node-_5a289369-1a88-1acf-15f7-5bc937122aa1-37122a8b" class="footer_top-cta">
									<div class="footer_top-cta-max-width">
										<div class="text-color-black">Curious what Veo can bring to you as a player,
											coach or club?</div>
									</div>
									<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122aa4"
										data-wf-ao-click-engagement-tracking="true"
										data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122aa4"
										data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
										href="/sign-up-for-our-newsletter" class="button w-button">Sign up for our
										newsletter</a>
								</div>
								<div class="footer_link-wrapper">
									<div class="footer_link-list">
										<div class="margin-bottom margin-xsmall">
											<div class="text-weight-semibold">Products</div>
										</div>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122aab"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122aab"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/product/veo-cam-3" class="footer_link">Veo Cam 3</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:389f8bea-a1d0-c9fe-a2f4-09b0b3d23846"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="389f8bea-a1d0-c9fe-a2f4-09b0b3d23846"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/product/veo-go" class="footer_link">Veo Go</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122aad"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122aad"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/product/tripods-accessories-old" class="footer_link">Tripods
											&amp; Accessories</a>
									</div>
									<div class="footer_link-list">
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ab0"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ab0"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/product/veo-editor-old" class="footer_link">Veo Editor</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ab2"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ab2"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/product/player-profile" class="footer_link">Player Profile</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ab4"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ab4"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/product/veo-analytics-old" class="footer_link">Veo Analytics</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ab6"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ab6"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/product/veo-live" class="footer_link">Veo Live</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ab8"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ab8"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/product/veo-player-spotlight" class="footer_link">Veo Player
											Spotlight</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122aba"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122aba"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/product/league-exchange-old" class="footer_link">Veo League
											Exchange</a>
									</div>
									<div class="footer_link-list">
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122abd"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122abd"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/pricing" class="footer_link">Pricing</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:97fac084-d365-31f9-d2a8-9ce2c019899c"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="97fac084-d365-31f9-d2a8-9ce2c019899c"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="#"
											class="footer_link">Replacement camera</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122abf"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122abf"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="#" class="footer_link">Product Updates</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:192d7026-0bb9-82d7-6980-b59b00e563fd"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="192d7026-0bb9-82d7-6980-b59b00e563fd"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="#" class="footer_link">Support</a>
									</div>
								</div>
								<div class="footer_link-wrapper">
									<div class="footer_link-list">
										<div class="margin-bottom margin-xsmall">
											<div class="text-weight-semibold">Use Cases</div>
										</div>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ace"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ace"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/sport/football" class="footer_link">Football</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122acc"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122acc"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/sport/rugby" class="footer_link">Rugby</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122aca"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122aca"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/sport/lacrosse" class="footer_link">Lacrosse</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ac8"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ac8"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/sport/basketball" class="footer_link">Basketball</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:19b3f1f5-fe9b-ee3f-cceb-2ea4e017e79b"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="19b3f1f5-fe9b-ee3f-cceb-2ea4e017e79b"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/sport/hockey" class="footer_link">Hockey</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ac6"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ac6"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/sport/other-sports" class="footer_link">Other sports</a>
									</div>
									<div class="footer_link-list">
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ad3"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ad3"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/user/clubs" class="footer_link">Clubs</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:ddfad96d-ffc3-b76b-fb7d-349c24fce6f4"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="ddfad96d-ffc3-b76b-fb7d-349c24fce6f4"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/user/larger-organizations-and-leagues" class="footer_link">Larger
											organizations and leagues</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ad5"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ad5"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/user/parents" class="footer_link">Parents</a>
										<a language="es it ja fr de pl"
											data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ad1"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ad1"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/user/universities-and-schools" class="footer_link">Universities and
											schools</a>
									</div>
								</div>
								<div class="footer_link-wrapper">
									<div class="footer_link-list">
										<div class="margin-bottom margin-xsmall">
											<div class="text-weight-semibold">
												<strong>Corporate info</strong>
											</div>
										</div>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122adc"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122adc"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/about-us" class="footer_link">About us</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ade"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ade"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/careers" class="footer_link">Careers</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ae0"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ae0"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/manifesto" class="footer_link">Manifesto</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ae2"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ae2"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="mailto:frederik@veo.co?subject=Press%20Inquiries"
											class="footer_link">Press Inquiries</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:0e340612-629c-6b46-55a4-25c83386697e"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="0e340612-629c-6b46-55a4-25c83386697e"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/branding-guidelines" class="footer_link">Branding guidelines</a>
									</div>
									<div class="footer_link-list">
										<div class="margin-bottom margin-xsmall">
											<div class="text-weight-semibold">Resources</div>
										</div>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122ae8"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122ae8"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/blog" class="footer_link">Blog</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122af0"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122af0"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/e-books" class="footer_link">E-books</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122aee"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122aee"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/customer-case-studies" class="footer_link">Customer Case Studies</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122aec"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122aec"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/veomoment" class="footer_link">Submit your #veomoment</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:eea5065f-188e-6f72-d160-977d023a2a5e"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="eea5065f-188e-6f72-d160-977d023a2a5e"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="#" class="footer_link">Highlights
											Magazine</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:9da0537e-df28-9cda-cbe0-1a6311d377e7"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="9da0537e-df28-9cda-cbe0-1a6311d377e7"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/why-veo" class="footer_link">Why Veo?</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:34f48a8f-a910-d154-dfc6-e23c535e0aa3"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="34f48a8f-a910-d154-dfc6-e23c535e0aa3"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/footage-library" class="footer_link">Footage library</a>
									</div>
								</div>
								<div class="footer_link-wrapper">
									<div class="footer_link-list">
										<div class="margin-bottom margin-xsmall">
											<div class="text-weight-semibold">Partners</div>
										</div>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122af6"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122af6"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/partnership" class="footer_link">Partnerships</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122b02"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122b02"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/refer-a-friend" class="footer_link">Refer a friend</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:5a289369-1a88-1acf-15f7-5bc937122b00"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="5a289369-1a88-1acf-15f7-5bc937122b00"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/reseller" class="footer_link">Become a reseller</a>
										<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a7f:661ab876-eb9f-f5f9-72c2-aea6c1a397ff"
											data-wf-ao-click-engagement-tracking="true"
											data-wf-element-id="661ab876-eb9f-f5f9-72c2-aea6c1a397ff"
											data-wf-component-context="%5B%7B%22componentId%22%3A%225a289369-1a88-1acf-15f7-5bc937122a8b%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a7f%22%7D%5D"
											href="/become-a-partner" class="footer_link">Become a partner</a>
									</div>
								</div>
							</div>
						</div>
						<div data-w-id="b6d88700-3495-54b8-de97-29b95580fef3" class="line-divider"></div>
						<div class="padding-top padding-medium">
						</div>
						<img src="https://ik.imagekit.io/dr5fryhth/kabaka/logo.png"
							loading="lazy" alt="" class="footer_statement" />
					</div>
				</div>
			</div>
		</footer>
