<div class="page-wrapper">
	<%- include('../partials/global/global-styles') %>
	<%- include('../partials/global/navbar') %>
	<div class="main-wrapper">
		<section class="section_404">
			<div class="padding-section-large">
				<div class="padding-global">
					<div class="container-medium">
						<div class="text-align-center">
							<div class="margin-bottom margin-small">
								<div class="text-size-small text-weight-semibold">
									Kabaka 2 Plaza <br> Accra's first 24hr commercial plaza
								</div>
							</div>
							<h1 class="heading-style-h1">Coming Soon</h1>
							<p class="text-size-medium">
								site in development
							</p>
							<div class="margin-top margin-medium">
								<a href="/" class="button w-button">Back to home</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<%- include('../partials/global/footer') %>
</div>
<%- include('../partials/global/body-scripts') %>
