<section class="section_grids background-color-tertiary">
	<div class="padding-global">
		<div class="container-large">
			<div class="padding-section-large">
				<div class="w-layout-grid grid_component">
					<div id="w-node-_831f0bec-4788-2419-82ce-57585a9fdd5b-1f11409b" class="grid-card_layout-50-50">
						<div class="grid-card_content border-radius-medium">
							<div class="grid-card_image-container">
								<div class="basic3_video border-radius-medium">
									<div class="w-optimization">
										<div data-wf-experience-417241064="" data-wf-variation-617132433=""
											class="w-optimization">
											<a href="#" data-video-url=""
												class="basic3_lightbox w-inline-block w-lightbox">
												<img sizes="100vw"
													srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/66eab81a9eee9a62613e605b_Yannick%20Laurent%20CF%20Montreal-p-500.avif 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/66eab81a9eee9a62613e605b_Yannick%20Laurent%20CF%20Montreal-p-800.avif 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/66eab81a9eee9a62613e605b_Yannick%20Laurent%20CF%20Montreal.avif 1976w"
													alt="" loading="lazy"
													src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/66eab81a9eee9a62613e605b_Yannick%20Laurent%20CF%20Montreal.avif"
													class="basic3_lightbox-image" />

												<div class="video-overlay-layer"></div>
												<script src="inline/script-29.js" type="application/json"
													class="w-json"></script>
											</a>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132430=""
											data-wf-hidden-variation="" class="w-optimization">
											<a href="#" data-video-url=""
												class="basic3_lightbox w-inline-block w-lightbox">
												<img sizes="100vw"
													srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/65f18f42c5e625d0c461ee47_richmond-rugby-p-500.webp 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/65f18f42c5e625d0c461ee47_richmond-rugby-p-800.webp 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/65f18f42c5e625d0c461ee47_richmond-rugby-p-1080.webp 1080w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/65f18f42c5e625d0c461ee47_richmond-rugby.webp 1300w"
													alt="" loading="lazy"
													src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/65f18f42c5e625d0c461ee47_richmond-rugby.webp"
													class="basic3_lightbox-image" />

												<div class="video-overlay-layer"></div>
												<script src="inline/script-30.js" type="application/json"
													class="w-json"></script>
											</a>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132431=""
											data-wf-hidden-variation="" class="w-optimization">
											<a href="#" data-video-url=""
												class="basic3_lightbox w-inline-block w-lightbox">
												<img sizes="100vw"
													srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/660f916871f60a609c9e5e19_igloo-lacrosse%20(1)-p-500.webp 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/660f916871f60a609c9e5e19_igloo-lacrosse%20(1)-p-800.webp 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/660f916871f60a609c9e5e19_igloo-lacrosse%20(1).webp 1026w"
													alt="" loading="lazy"
													src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/660f916871f60a609c9e5e19_igloo-lacrosse%20(1).webp"
													class="basic3_lightbox-image" />

												<div class="video-overlay-layer"></div>
												<script src="inline/script-31.js" type="application/json"
													class="w-json"></script>
											</a>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132432=""
											data-wf-hidden-variation="" class="w-optimization">
											<a href="#" data-video-url=""
												class="basic3_lightbox w-inline-block w-lightbox">
												<img sizes="100vw"
													srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/677beb6def3ec01fabd0bb7a_Rudy%20Crichlow%20Jr.-p-500.avif 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/677beb6def3ec01fabd0bb7a_Rudy%20Crichlow%20Jr..avif 1238w"
													alt="" loading="lazy"
													src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/677beb6def3ec01fabd0bb7a_Rudy%20Crichlow%20Jr..avif"
													class="basic3_lightbox-image" />

												<div class="video-overlay-layer"></div>
												<script src="inline/script-32.js" type="application/json"
													class="w-json"></script>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="w-optimization">
								<div data-wf-experience-417241064="" data-wf-variation-617132433=""
									class="w-optimization">
									<div class="background-video_component">
										<video autoplay="true" loop="" playsinline="true" muted=""
											class="background-video_component lazy" preload="none"
											poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6888c58c222428a376ae8ab2_Burnley%20Thumbnail%20V1%201-1%20%281%29-poster-00001.jpg">
											<source
												data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/mart-video.mp4"
												type="video/mp4" src="" />
											<source
												data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/mart-video.mp4"
												type="video/webm" src="" />
										</video>
									</div>
								</div>
								<div data-wf-experience-417241064="" data-wf-variation-617132430=""
									data-wf-hidden-variation="" class="w-optimization">
									<div class="background-video_component"></div>
								</div>
								<div data-wf-experience-417241064="" data-wf-variation-617132431=""
									data-wf-hidden-variation="" class="w-optimization">
									<div class="background-video_component"></div>
								</div>
								<div data-wf-experience-417241064="" data-wf-variation-617132432=""
									data-wf-hidden-variation="" class="w-optimization">
									<div class="background-video_component"></div>
								</div>
							</div>
						</div>
						<div class="grid-card_content border-radius-medium">
							<div class="grid-card_text-container">
								<div class="margin-bottom margin-small">
									<div class="w-optimization">
										<div data-wf-experience-417241064="" data-wf-variation-617132433=""
											class="w-optimization">
											<div class="grid-card_text">&#34;We want to bring the best and most
												affordable experiences to you. Each one of our experiences is curated to
												give you the most, for the least.&#34;</div>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132430=""
											data-wf-hidden-variation="" class="w-optimization">
											<div class="grid-card_text">&#34;Kabaka 2 Plaza has completely transformed
												how we operate. The spaces are designed for efficiency and comfort,
												bridging the gap between luxury and affordability.&#34;</div>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132431=""
											data-wf-hidden-variation="" class="w-optimization">
											<div class="grid-card_text">&#34;From the moment we moved in, everything
												just worked. The infrastructure at Kabaka 2 Plaza is state-of-the-art
												and truly amazing.&#34;</div>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132432=""
											data-wf-hidden-variation="" class="w-optimization">
											<div class="grid-card_text">&#34;Location is everything right now. With
												Kabaka 2 Plaza, you have a prime spot that’s accessible and visible.
												It's crystal clear why this is the best choice.&#34;
											</div>
										</div>
									</div>
								</div>
								<div class="margin-bottom margin-small">
									<div class="w-optimization">
										<div data-wf-experience-417241064="" data-wf-variation-617132433=""
											class="w-optimization">
											<div class="text-color-black">Mr. Kabaka</div>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132430=""
											data-wf-hidden-variation="" class="w-optimization">
											<div class="text-color-black">Kwame Osei</div>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132431=""
											data-wf-hidden-variation="" class="w-optimization">
											<div class="text-color-black">Sarah Mensah</div>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132432=""
											data-wf-hidden-variation="" class="w-optimization">
											<div class="text-color-black">David K.</div>
										</div>
									</div>
									<div class="w-optimization">
										<div data-wf-experience-417241064="" data-wf-variation-617132433=""
											class="w-optimization">
											<p class="text-style-muted inherit-color">CEO, Builder of Kabaka 2 Plaza</p>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132430=""
											data-wf-hidden-variation="" class="w-optimization">
											<p class="text-style-muted inherit-color">Project Manager,
												Kabaka Estates</p>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132431=""
											data-wf-hidden-variation="" class="w-optimization">
											<p class="text-style-muted inherit-color">Tenant, Kabaka 2 Plaza
											</p>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132432=""
											data-wf-hidden-variation="" class="w-optimization">
											<p class="text-style-muted inherit-color">
												Operations Lead, Kabaka Group
												<br />
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
