<section class="section_grids background-color-tertiary">
				<div class="padding-global">
					<div class="container-large">
						<div class="padding-section-large">
							<div class="w-layout-grid grid_component">
								<div id="w-node-_831f0bec-4788-2419-82ce-57585a9fdd5b-1f11409b"
									class="grid-card_layout-50-50">
									<div class="grid-card_content border-radius-medium">
										<div class="grid-card_image-container">
											<div class="basic3_video border-radius-medium">
												<div class="w-optimization">
													<div data-wf-experience-417241064="" data-wf-variation-617132433=""
														class="w-optimization">
														<a href="#" data-video-url=""
															class="basic3_lightbox w-inline-block w-lightbox">
															<img sizes="100vw"
																srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/66eab81a9eee9a62613e605b_Yannick%20Laurent%20CF%20Montreal-p-500.avif 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/66eab81a9eee9a62613e605b_Yannick%20Laurent%20CF%20Montreal-p-800.avif 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/66eab81a9eee9a62613e605b_Yannick%20Laurent%20CF%20Montreal.avif 1976w"
																alt="" loading="lazy"
																src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/66eab81a9eee9a62613e605b_Yannick%20Laurent%20CF%20Montreal.avif"
																class="basic3_lightbox-image" />
															<div class="lightbox-play-icon">
																<div class="icon-embed-large w-embed">
																	<svg viewBox="0 0 115 115" fill="none"
																		xmlns="http://www.w3.org/2000/svg">
																		<g filter="url(#filter0_b_6883_52372)">
																			<circle cx="57.5" cy="57.5" r="57.5"
																				fill="black" fill-opacity="0.5">
																			</circle>
																		</g>
																		<path
																			d="M74.4121 57.4996L47.015 73.3173L47.0151 41.6819L74.4121 57.4996Z"
																			fill="white"></path>
																		<defs>
																			<filter id="filter0_b_6883_52372"
																				x="-20.2941" y="-20.2941"
																				width="155.588" height="155.588"
																				filterUnits="userSpaceOnUse"
																				color-interpolation-filters="sRGB">
																				<feFlood flood-opacity="0"
																					result="BackgroundImageFix">
																				</feFlood>
																				<feGaussianBlur in="BackgroundImageFix"
																					stdDeviation="10.1471">
																				</feGaussianBlur>
																				<feComposite in2="SourceAlpha"
																					operator="in"
																					result="effect1_backgroundBlur_6883_52372">
																				</feComposite>
																				<feBlend mode="normal"
																					in="SourceGraphic"
																					in2="effect1_backgroundBlur_6883_52372"
																					result="shape"></feBlend>
																			</filter>
																		</defs>
																	</svg>
																</div>
															</div>
															<div class="video-overlay-layer"></div>
															<script src="inline/script-29.js" type="application/json"
																class="w-json"></script>
														</a>
													</div>
													<div data-wf-experience-417241064="" data-wf-variation-617132430=""
														data-wf-hidden-variation="" class="w-optimization">
														<a href="#" data-video-url=""
															class="basic3_lightbox w-inline-block w-lightbox">
															<img sizes="100vw"
																srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/65f18f42c5e625d0c461ee47_richmond-rugby-p-500.webp 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/65f18f42c5e625d0c461ee47_richmond-rugby-p-800.webp 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/65f18f42c5e625d0c461ee47_richmond-rugby-p-1080.webp 1080w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/65f18f42c5e625d0c461ee47_richmond-rugby.webp 1300w"
																alt="" loading="lazy"
																src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/65f18f42c5e625d0c461ee47_richmond-rugby.webp"
																class="basic3_lightbox-image" />
															<div class="lightbox-play-icon">
																<div class="icon-embed-large w-embed">
																	<svg viewBox="0 0 115 115" fill="none"
																		xmlns="http://www.w3.org/2000/svg">
																		<g filter="url(#filter0_b_6883_52372)">
																			<circle cx="57.5" cy="57.5" r="57.5"
																				fill="black" fill-opacity="0.5">
																			</circle>
																		</g>
																		<path
																			d="M74.4121 57.4996L47.015 73.3173L47.0151 41.6819L74.4121 57.4996Z"
																			fill="white"></path>
																		<defs>
																			<filter id="filter0_b_6883_52372"
																				x="-20.2941" y="-20.2941"
																				width="155.588" height="155.588"
																				filterUnits="userSpaceOnUse"
																				color-interpolation-filters="sRGB">
																				<feFlood flood-opacity="0"
																					result="BackgroundImageFix">
																				</feFlood>
																				<feGaussianBlur in="BackgroundImageFix"
																					stdDeviation="10.1471">
																				</feGaussianBlur>
																				<feComposite in2="SourceAlpha"
																					operator="in"
																					result="effect1_backgroundBlur_6883_52372">
																				</feComposite>
																				<feBlend mode="normal"
																					in="SourceGraphic"
																					in2="effect1_backgroundBlur_6883_52372"
																					result="shape"></feBlend>
																			</filter>
																		</defs>
																	</svg>
																</div>
															</div>
															<div class="video-overlay-layer"></div>
															<script src="inline/script-30.js" type="application/json"
																class="w-json"></script>
														</a>
													</div>
													<div data-wf-experience-417241064="" data-wf-variation-617132431=""
														data-wf-hidden-variation="" class="w-optimization">
														<a href="#" data-video-url=""
															class="basic3_lightbox w-inline-block w-lightbox">
															<img sizes="100vw"
																srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/660f916871f60a609c9e5e19_igloo-lacrosse%20(1)-p-500.webp 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/660f916871f60a609c9e5e19_igloo-lacrosse%20(1)-p-800.webp 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/660f916871f60a609c9e5e19_igloo-lacrosse%20(1).webp 1026w"
																alt="" loading="lazy"
																src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/660f916871f60a609c9e5e19_igloo-lacrosse%20(1).webp"
																class="basic3_lightbox-image" />
															<div class="lightbox-play-icon">
																<div class="icon-embed-large w-embed">
																	<svg viewBox="0 0 115 115" fill="none"
																		xmlns="http://www.w3.org/2000/svg">
																		<g filter="url(#filter0_b_6883_52372)">
																			<circle cx="57.5" cy="57.5" r="57.5"
																				fill="black" fill-opacity="0.5">
																			</circle>
																		</g>
																		<path
																			d="M74.4121 57.4996L47.015 73.3173L47.0151 41.6819L74.4121 57.4996Z"
																			fill="white"></path>
																		<defs>
																			<filter id="filter0_b_6883_52372"
																				x="-20.2941" y="-20.2941"
																				width="155.588" height="155.588"
																				filterUnits="userSpaceOnUse"
																				color-interpolation-filters="sRGB">
																				<feFlood flood-opacity="0"
																					result="BackgroundImageFix">
																				</feFlood>
																				<feGaussianBlur in="BackgroundImageFix"
																					stdDeviation="10.1471">
																				</feGaussianBlur>
																				<feComposite in2="SourceAlpha"
																					operator="in"
																					result="effect1_backgroundBlur_6883_52372">
																				</feComposite>
																				<feBlend mode="normal"
																					in="SourceGraphic"
																					in2="effect1_backgroundBlur_6883_52372"
																					result="shape"></feBlend>
																			</filter>
																		</defs>
																	</svg>
																</div>
															</div>
															<div class="video-overlay-layer"></div>
															<script src="inline/script-31.js" type="application/json"
																class="w-json"></script>
														</a>
													</div>
													<div data-wf-experience-417241064="" data-wf-variation-617132432=""
														data-wf-hidden-variation="" class="w-optimization">
														<a href="#" data-video-url=""
															class="basic3_lightbox w-inline-block w-lightbox">
															<img sizes="100vw"
																srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/677beb6def3ec01fabd0bb7a_Rudy%20Crichlow%20Jr.-p-500.avif 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/677beb6def3ec01fabd0bb7a_Rudy%20Crichlow%20Jr..avif 1238w"
																alt="" loading="lazy"
																src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/677beb6def3ec01fabd0bb7a_Rudy%20Crichlow%20Jr..avif"
																class="basic3_lightbox-image" />
															<div class="lightbox-play-icon">
																<div class="icon-embed-large w-embed">
																	<svg viewBox="0 0 115 115" fill="none"
																		xmlns="http://www.w3.org/2000/svg">
																		<g filter="url(#filter0_b_6883_52372)">
																			<circle cx="57.5" cy="57.5" r="57.5"
																				fill="black" fill-opacity="0.5">
																			</circle>
																		</g>
																		<path
																			d="M74.4121 57.4996L47.015 73.3173L47.0151 41.6819L74.4121 57.4996Z"
																			fill="white"></path>
																		<defs>
																			<filter id="filter0_b_6883_52372"
																				x="-20.2941" y="-20.2941"
																				width="155.588" height="155.588"
																				filterUnits="userSpaceOnUse"
																				color-interpolation-filters="sRGB">
																				<feFlood flood-opacity="0"
																					result="BackgroundImageFix">
																				</feFlood>
																				<feGaussianBlur in="BackgroundImageFix"
																					stdDeviation="10.1471">
																				</feGaussianBlur>
																				<feComposite in2="SourceAlpha"
																					operator="in"
																					result="effect1_backgroundBlur_6883_52372">
																				</feComposite>
																				<feBlend mode="normal"
																					in="SourceGraphic"
																					in2="effect1_backgroundBlur_6883_52372"
																					result="shape"></feBlend>
																			</filter>
																		</defs>
																	</svg>
																</div>
															</div>
															<div class="video-overlay-layer"></div>
															<script src="inline/script-32.js" type="application/json"
																class="w-json"></script>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="w-optimization">
											<div data-wf-experience-417241064="" data-wf-variation-617132433=""
												class="w-optimization">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6888c58c222428a376ae8ab2_Burnley%20Thumbnail%20V1%201-1%20%281%29-poster-00001.jpg">
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6888c58c222428a376ae8ab2_Burnley%20Thumbnail%20V1%201-1%20%281%29-transcode.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6888c58c222428a376ae8ab2_Burnley%20Thumbnail%20V1%201-1%20%281%29-transcode.webm"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
											<div data-wf-experience-417241064="" data-wf-variation-617132430=""
												data-wf-hidden-variation="" class="w-optimization">
												<div class="background-video_component"></div>
											</div>
											<div data-wf-experience-417241064="" data-wf-variation-617132431=""
												data-wf-hidden-variation="" class="w-optimization">
												<div class="background-video_component"></div>
											</div>
											<div data-wf-experience-417241064="" data-wf-variation-617132432=""
												data-wf-hidden-variation="" class="w-optimization">
												<div class="background-video_component"></div>
											</div>
										</div>
									</div>
									<div class="grid-card_content border-radius-medium">
										<div class="grid-card_text-container">
											<div class="margin-bottom margin-small">
												<div class="w-optimization">
													<div data-wf-experience-417241064="" data-wf-variation-617132433=""
														class="w-optimization">
														<div class="grid-card_text">&#34;We always like to look back at
															the
															training sessions and games. Without the recording, we would
															just be relying on here and now.&#34;</div>
													</div>
													<div data-wf-experience-417241064="" data-wf-variation-617132430=""
														data-wf-hidden-variation="" class="w-optimization">
														<div class="grid-card_text">&#34;With Veo it just makes life so
															much
															easier. It really does bridge a gap between grassroots and
															the elite. There&#39;s never really been anything in the
															market
															prior to Veo.&#34;</div>
													</div>
													<div data-wf-experience-417241064="" data-wf-variation-617132431=""
														data-wf-hidden-variation="" class="w-optimization">
														<div class="grid-card_text">&#34;It goes up – one, two, three
															–and
															then we press play. Veo does the rest, it moves on its own,
															it follows the ball. The technology is amazing&#34;</div>
													</div>
													<div data-wf-experience-417241064="" data-wf-variation-617132432=""
														data-wf-hidden-variation="" class="w-optimization">
														<div class="grid-card_text">&#34;Video is everything right now.
															With
															Veo you basically have an interactive view that’s never
															missing any plays. Coaches can see it crystal clear.&#34;
														</div>
													</div>
												</div>
											</div>
											<div class="margin-bottom margin-small">
												<div class="w-optimization">
													<div data-wf-experience-417241064="" data-wf-variation-617132433=""
														class="w-optimization">
														<div class="text-color-black">Shawn Young</div>
													</div>
													<div data-wf-experience-417241064="" data-wf-variation-617132430=""
														data-wf-hidden-variation="" class="w-optimization">
														<div class="text-color-black">Dom Palacio</div>
													</div>
													<div data-wf-experience-417241064="" data-wf-variation-617132431=""
														data-wf-hidden-variation="" class="w-optimization">
														<div class="text-color-black">Garrett Noblet</div>
													</div>
													<div data-wf-experience-417241064="" data-wf-variation-617132432=""
														data-wf-hidden-variation="" class="w-optimization">
														<div class="text-color-black">Rudy Crichlow Jr.</div>
													</div>
												</div>
												<div class="w-optimization">
													<div data-wf-experience-417241064="" data-wf-variation-617132433=""
														class="w-optimization">
														<p class="text-style-muted inherit-color">Performance Analyst,
															Burnley F.C.</p>
													</div>
													<div data-wf-experience-417241064="" data-wf-variation-617132430=""
														data-wf-hidden-variation="" class="w-optimization">
														<p class="text-style-muted inherit-color">Head of Community,
															Richmond Rugby</p>
													</div>
													<div data-wf-experience-417241064="" data-wf-variation-617132431=""
														data-wf-hidden-variation="" class="w-optimization">
														<p class="text-style-muted inherit-color">Coach, Igloo Lacrosse
														</p>
													</div>
													<div data-wf-experience-417241064="" data-wf-variation-617132432=""
														data-wf-hidden-variation="" class="w-optimization">
														<p class="text-style-muted inherit-color">
															Coach and Co-director, MCIB
															<br />
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			