<header color-theme="" class="section_hero7">
	<header color-theme="" class="hero7_wrapper">
		<div class="padding-global">
			<div class="container-small">
				<div class="hero7_content">
					<div class="padding-section-hero-xlarge">
						<div class="text-align-center">
							<div class="margin-bottom margin-small">
								<div class="w-optimization">
									<div data-wf-experience-417241064="" data-wf-variation-617132433=""
										class="w-optimization">
										<h1 class="hero7_title" style="color:#fff;">
											Accra's first 24hr commercial plaza.
											<br />
										</h1>
									</div>

								</div>
							</div>
							<div class="margin-top margin-medium">
								<div class="button-group is-center">
									<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a419ac"
										data-wf-ao-click-engagement-tracking="true"
										data-wf-element-id="0f298c08-9c45-83aa-1826-e8b196a419ac" href="#"
										data-wf-event-ids="157048521" class="button w-button">Visit</a>
									<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a419aa"
										data-wf-ao-click-engagement-tracking="true"
										data-wf-element-id="0f298c08-9c45-83aa-1826-e8b196a419aa" href="#"
										data-wf-event-ids="157048522"
										class="button is-inverted is-desktop w-button">Call</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero7_background-image-wrapper">
			<div opacity="50" class="hero7_background-overlay"></div>
			<img loading="eager" alt="" src="https://ik.imagekit.io/dr5fryhth/hdoptihero"
				class="hero7_background-image is-desktop" />
			<img loading="eager" alt="" src="https://ik.imagekit.io/dr5fryhth/hero-is-mobile?updatedAt=1769133430986"
				class="hero7_background-image is-mobile" />
		</div>
		<div class="section_image-grid is-hero7">
			<div class="image-grid_image-wrapper">
				<div class="hero7_background-wrapper">
					<div class="hero7_lightbox-container">
						<div class="w-optimization">
							<div data-wf-experience-417241064="" data-wf-variation-617132433="" class="w-optimization">
								<a href="#" data-video-url="" class="hero7_lightbox w-inline-block w-lightbox">
									<div class="hero7_lightbox-text"
										style="width:100%;max-width:40rem;text-align:center;grid-template-columns:1fr;justify-items:center;">
										<p class="text-color-inherit">
											Kabaka 2 Plaza is located in East Legon, Accra, Ghana. We combine essential
											services to give you the best experience enough to last a lifetime.
											<br />
										</p>
									</div>
									<script src="inline/script-19.js" type="application/json" class="w-json"></script>
								</a>
							</div>
							<div data-wf-experience-417241064="" data-wf-variation-617132430=""
								data-wf-hidden-variation="" class="w-optimization">
								<a href="#" data-video-url="" class="hero7_lightbox w-inline-block w-lightbox">
									<div class="hero7_lightbox-text"
										style="width:100%;max-width:40rem;text-align:center;grid-template-columns:1fr;justify-items:center;">
										<p class="text-color-inherit">
											Kabaka 2 Plaza is located in East Legon, Accra, Ghana. We combine essential
											services to give you the best experience enough to last a lifetime.
											<br />
										</p>
									</div>
									<script src="inline/script-20.js" type="application/json" class="w-json"></script>
								</a>
							</div>
							<div data-wf-experience-417241064="" data-wf-variation-617132431=""
								data-wf-hidden-variation="" class="w-optimization">
								<a href="#" data-video-url="" class="hero7_lightbox w-inline-block w-lightbox">
									<div class="hero7_lightbox-text"
										style="width:100%;max-width:40rem;text-align:center;grid-template-columns:1fr;justify-items:center;">
										<p class="text-color-inherit">
											Kabaka 2 Plaza is located in East Legon, Accra, Ghana. We combine essential
											services to give you the best experience enough to last a lifetime.
											<br />
										</p>
									</div>
									<script src="inline/script-21.js" type="application/json" class="w-json"></script>
								</a>
							</div>
							<div data-wf-experience-417241064="" data-wf-variation-617132432=""
								data-wf-hidden-variation="" class="w-optimization">
								<a href="#" data-video-url="" class="hero7_lightbox w-inline-block w-lightbox">
									<div class="hero7_lightbox-text"
										style="width:100%;max-width:40rem;text-align:center;grid-template-columns:1fr;justify-items:center;">
										<p class="text-color-inherit">
											Kabaka 2 Plaza is located in East Legon, Accra, Ghana. We combine essential
											services to give you the best experience enough to last a lifetime.
											<br />
										</p>
									</div>
									<script src="inline/script-22.js" type="application/json" class="w-json"></script>
								</a>
							</div>
						</div>
					</div>
					<div overlay:opacity="50" class="image-overlay-layer"></div>
					<div class="w-optimization">
						<div data-wf-experience-417241064="" data-wf-variation-617132433="" class="w-optimization">
							<div class="background-video_component">
								<video autoplay="true" loop="" playsinline="true" muted=""
									class="background-video_component lazy" preload="none"
									poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F664eeea90c84a1c985fd0592_Hero%20til%20Website%20%282%29-poster-00001.jpg">
									<source data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/herovideo.mp4"
										type="video/mp4" src="" />
									<source data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/herovideo.webm"
										type="video/webm" src="" />
								</video>
							</div>
						</div>
						<div data-wf-experience-417241064="" data-wf-variation-617132430="" data-wf-hidden-variation=""
							class="w-optimization">
							<div class="background-video_component">
								<video autoplay="true" loop="" playsinline="true" muted=""
									class="background-video_component lazy" preload="none"
									poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6888c563bb00887f32ceb7e7_Multisport%20Thumbnail%20V2%2016-9_1-poster-00001.jpg">
									<source
										data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6888c563bb00887f32ceb7e7_Multisport%20Thumbnail%20V2%2016-9_1-transcode.mp4"
										type="video/mp4" src="" />
									<source
										data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6888c563bb00887f32ceb7e7_Multisport%20Thumbnail%20V2%2016-9_1-transcode.webm"
										type="video/webm" src="" />
								</video>
							</div>
						</div>
						<div data-wf-experience-417241064="" data-wf-variation-617132431="" data-wf-hidden-variation=""
							class="w-optimization">
							<div class="background-video_component">
								<video autoplay="true" loop="" playsinline="true" muted=""
									class="background-video_component lazy" preload="none"
									poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6888c563bb00887f32ceb7e7_Multisport%20Thumbnail%20V2%2016-9_1-poster-00001.jpg">
									<source
										data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6888c563bb00887f32ceb7e7_Multisport%20Thumbnail%20V2%2016-9_1-transcode.mp4"
										type="video/mp4" src="" />
									<source
										data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6888c563bb00887f32ceb7e7_Multisport%20Thumbnail%20V2%2016-9_1-transcode.webm"
										type="video/webm" src="" />
								</video>
							</div>
						</div>
						<div data-wf-experience-417241064="" data-wf-variation-617132432="" data-wf-hidden-variation=""
							class="w-optimization">
							<div class="background-video_component">
								<video autoplay="true" loop="" playsinline="true" muted=""
									class="background-video_component lazy" preload="none"
									poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6888c563bb00887f32ceb7e7_Multisport%20Thumbnail%20V2%2016-9_1-poster-00001.jpg">
									<source
										data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6888c563bb00887f32ceb7e7_Multisport%20Thumbnail%20V2%2016-9_1-transcode.mp4"
										type="video/mp4" src="" />
									<source
										data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6888c563bb00887f32ceb7e7_Multisport%20Thumbnail%20V2%2016-9_1-transcode.webm"
										type="video/webm" src="" />
								</video>
							</div>
						</div>
					</div>
				</div>
				<div class="hero7_video-sizer"></div>
			</div>
		</div>
		<div class="w-embed w-script">
			<!-- GSAP Animation Script for Image Grid -->
			<script src="inline/script-23.js"></script>
		</div>
	</header>
</header>