<section color-theme="beige" class="language-banner_section">
			<div class="language-banner_pop-up">
				<div class="margin-bottom margin-xsmall">
					<div class="language-banner_content">
						<div class="icon-1x1-1_5rem w-embed">
							<svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink"
								aria-hidden="true" role="img" class="iconify iconify--ph" width="100%" height="100%"
								preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256">
								<path fill="currentColor"
									d="M128 20a108 108 0 1 0 108 108A108.12 108.12 0 0 0 128 20m83.13 96h-31.57a155.5 155.5 0 0 0-19.51-65.63A84.23 84.23 0 0 1 211.13 116m-110.62 24h55c-2.25 26.69-12 51.46-27.49 69.85c-15.56-18.39-25.26-43.16-27.51-69.85m0-24c2.25-26.69 11.95-51.46 27.49-69.85c15.54 18.39 25.24 43.16 27.49 69.85ZM96 50.37A155.5 155.5 0 0 0 76.44 116H44.87A84.23 84.23 0 0 1 96 50.37M44.87 140h31.57A155.5 155.5 0 0 0 96 205.63A84.23 84.23 0 0 1 44.87 140m115.18 65.63A155.5 155.5 0 0 0 179.56 140h31.57a84.23 84.23 0 0 1-51.08 65.63">
								</path>
							</svg>
						</div>
						<div data-language-banner-text="welcome" class="heading-style-h5">Welcome</div>
					</div>
				</div>
				<div class="margin-bottom margin-small">
					<p data-language-banner-text="description">Choose your language to see content and offers specific
						to your region.</p>
				</div>
				<div class="margin-bottom margin-small">
					<div class="language-banner_select-group">
						<div class="language-banner_select-wrapper">
							<select data-language-banner-select="" class="language-banner_select">
								<option value="en-gb">English United Kingdom</option>
							</select>
							<div class="language-banner_select-icon w-embed">
								<svg width="100%" height="100%" viewBox="0 0 14 14" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path d="M3.5 5.25L7 8.75L10.5 5.25" stroke="currentColor" stroke-width="1.5"
										stroke-linecap="round" stroke-linejoin="round"></path>
								</svg>
							</div>
						</div>
						<a data-language-banner-change=""
							data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a4199c:c67c9255-78e4-c5e8-8763-83175589a12a"
							data-wf-ao-click-engagement-tracking="true"
							data-wf-element-id="c67c9255-78e4-c5e8-8763-83175589a12a"
							data-wf-component-context="%5B%7B%22componentId%22%3A%2208376efa-83e4-7dcd-7273-133ec1c86f0a%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a4199c%22%7D%5D"
							href="#" class="button is-language-banner w-inline-block">
							<div class="icon-1x1-1_5rem w-embed">
								<svg width="100%" height="100%" viewBox="0 0 24 24" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M11.293 17.293L12.707 18.707L19.414 12L12.707 5.29297L11.293 6.70697L15.586 11H6V13H15.586L11.293 17.293Z"
										fill="currentColor"></path>
								</svg>
							</div>
						</a>
					</div>
				</div>
				<div class="w-layout-vflex flex-block">
					<a data-language-banner-text="stay" data-language-banner-stay=""
						data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a4199c:30de436b-3cc9-2367-9e50-d95e0c4a6244"
						data-wf-ao-click-engagement-tracking="true"
						data-wf-element-id="30de436b-3cc9-2367-9e50-d95e0c4a6244"
						data-wf-component-context="%5B%7B%22componentId%22%3A%2208376efa-83e4-7dcd-7273-133ec1c86f0a%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a4199c%22%7D%5D"
						href="#" class="button is-secondary w-button">Stay here</a>
				</div>
				<div class="hide w-locales-list">
					<div role="list" class="language-buttons w-locales-items">
						<div role="listitem" class="w-locales-item">
							<a class="button is-tiny w--current w-button"
								data-wf-component-context="%5B%7B%22componentId%22%3A%2208376efa-83e4-7dcd-7273-133ec1c86f0a%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a4199c%22%7D%5D"
								data-wf-element-id="1a38ce53-8433-59d9-f0c7-656032dda1a0" data-language-banner-locale=""
								href="/" language-detection="en-GB" aria-current="page" hreflang="en-GB"
								data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a4199c:1a38ce53-8433-59d9-f0c7-656032dda1a0_instance-0"
								data-wf-ao-click-engagement-tracking="true">English (United Kingdom)</a>
						</div>
						<div role="listitem" class="w-locales-item">
							<a class="button is-tiny w-button"
								data-wf-component-context="%5B%7B%22componentId%22%3A%2208376efa-83e4-7dcd-7273-133ec1c86f0a%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a4199c%22%7D%5D"
								data-wf-element-id="1a38ce53-8433-59d9-f0c7-656032dda1a0" data-language-banner-locale=""
								href="/en-us" language-detection="en-US" hreflang="en-US"
								data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a4199c:1a38ce53-8433-59d9-f0c7-656032dda1a0_instance-1"
								data-wf-ao-click-engagement-tracking="true">English (US)</a>
						</div>
						<div role="listitem" class="w-locales-item">
							<a class="button is-tiny w-button"
								data-wf-component-context="%5B%7B%22componentId%22%3A%2208376efa-83e4-7dcd-7273-133ec1c86f0a%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a4199c%22%7D%5D"
								data-wf-element-id="1a38ce53-8433-59d9-f0c7-656032dda1a0" data-language-banner-locale=""
								href="/es" language-detection="es" hreflang="es"
								data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a4199c:1a38ce53-8433-59d9-f0c7-656032dda1a0_instance-2"
								data-wf-ao-click-engagement-tracking="true">Español</a>
						</div>
						<div role="listitem" class="w-locales-item">
							<a class="button is-tiny w-button"
								data-wf-component-context="%5B%7B%22componentId%22%3A%2208376efa-83e4-7dcd-7273-133ec1c86f0a%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a4199c%22%7D%5D"
								data-wf-element-id="1a38ce53-8433-59d9-f0c7-656032dda1a0" data-language-banner-locale=""
								href="/it" language-detection="it" hreflang="it"
								data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a4199c:1a38ce53-8433-59d9-f0c7-656032dda1a0_instance-3"
								data-wf-ao-click-engagement-tracking="true">Italiano</a>
						</div>
						<div role="listitem" class="w-locales-item">
							<a class="button is-tiny w-button"
								data-wf-component-context="%5B%7B%22componentId%22%3A%2208376efa-83e4-7dcd-7273-133ec1c86f0a%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a4199c%22%7D%5D"
								data-wf-element-id="1a38ce53-8433-59d9-f0c7-656032dda1a0" data-language-banner-locale=""
								href="/ja" language-detection="ja" hreflang="ja"
								data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a4199c:1a38ce53-8433-59d9-f0c7-656032dda1a0_instance-4"
								data-wf-ao-click-engagement-tracking="true">日本語</a>
						</div>
						<div role="listitem" class="w-locales-item">
							<a class="button is-tiny w-button"
								data-wf-component-context="%5B%7B%22componentId%22%3A%2208376efa-83e4-7dcd-7273-133ec1c86f0a%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a4199c%22%7D%5D"
								data-wf-element-id="1a38ce53-8433-59d9-f0c7-656032dda1a0" data-language-banner-locale=""
								href="/fr" language-detection="fr" hreflang="fr"
								data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a4199c:1a38ce53-8433-59d9-f0c7-656032dda1a0_instance-5"
								data-wf-ao-click-engagement-tracking="true">Français</a>
						</div>
						<div role="listitem" class="w-locales-item">
							<a class="button is-tiny w-button"
								data-wf-component-context="%5B%7B%22componentId%22%3A%2208376efa-83e4-7dcd-7273-133ec1c86f0a%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a4199c%22%7D%5D"
								data-wf-element-id="1a38ce53-8433-59d9-f0c7-656032dda1a0" data-language-banner-locale=""
								href="/de" language-detection="de" hreflang="de"
								data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a4199c:1a38ce53-8433-59d9-f0c7-656032dda1a0_instance-6"
								data-wf-ao-click-engagement-tracking="true">Deutsch</a>
						</div>
						<div role="listitem" class="w-locales-item">
							<a class="button is-tiny w-button"
								data-wf-component-context="%5B%7B%22componentId%22%3A%2208376efa-83e4-7dcd-7273-133ec1c86f0a%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a4199c%22%7D%5D"
								data-wf-element-id="1a38ce53-8433-59d9-f0c7-656032dda1a0" data-language-banner-locale=""
								href="/pl" language-detection="pl" hreflang="pl"
								data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a4199c:1a38ce53-8433-59d9-f0c7-656032dda1a0_instance-7"
								data-wf-ao-click-engagement-tracking="true">Polski</a>
						</div>
					</div>
				</div>
			</div>
			<div class="w-embed w-script">
				<script src="inline/script-17.js"></script>
			</div>
		</section>
		