<div class="w-optimization">
				<div data-wf-experience-417241064="" data-wf-variation-617132433="" class="w-optimization">
					<section color-theme="beige" class="section_laptop background-color-primary">
						<div class="laptop_scroll-wrapper">
							<div class="laptop_wrapper">
								<div class="laptop_container">
									<div class="laptop_video">
										<div class="laptop_video-child">
											<div class="background-video_component">
												<video autoplay="true" loop="" playsinline="true" muted=""
													class="background-video_component lazy" preload="none"
													poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7be52c1c9b0c85d2a7e_Football%20Clip-poster-00001.jpg">
													<source
														data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7be52c1c9b0c85d2a7e_Football%20Clip-transcode.mp4"
														type="video/mp4" src="" />
													<source
														data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7be52c1c9b0c85d2a7e_Football%20Clip-transcode.webm"
														type="video/webm" src="" />
												</video>
											</div>
										</div>
									</div>
									<img src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor.webp"
										loading="lazy" sizes="100vw"
										srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-500.webp 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-800.webp 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-1080.webp 1080w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-1600.webp 1600w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-2000.webp 2000w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-2600.webp 2600w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-3200.webp 3200w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor.webp 3738w"
										alt="" class="laptop_image" />
								</div>
							</div>
						</div>
						<div class="laptop-text-wrapper">
							<div class="padding-global">
								<div class="container-large">
									<div class="padding-top padding-medium">
										<div class="laptop_text-wrapper">
											<div class="max-width-large align-center">
												<div class="margin-bottom margin-xsmall">
													<div animate="false" class="heading-style-tagline">Veo Editor</div>
												</div>
												<div class="margin-bottom margin-small">
													<h2 animate="false">Relive the action instantly</h2>
												</div>
												<p class="text-size-medium">Once the final whistle blows, the magic
													begins. AI gets to work tagging every key moment – goals, shots, and
													everything in between – before the match is automatically uploaded
													to the Veo Editor. In no time, coaches and teams can dive in to
													analyse the action, watch highlights, tag players, and share
													feedback.</p>
												<div class="margin-top margin-medium">
													<div class="display-inlineflex">
														<div class="button-group">
															<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a419f8:5e677323-94a8-8324-c832-533ea7cc22d8"
																data-wf-ao-click-engagement-tracking="true"
																data-wf-element-id="5e677323-94a8-8324-c832-533ea7cc22d8"
																data-wf-component-context="%5B%7B%22componentId%22%3A%225e677323-94a8-8324-c832-533ea7cc22bf%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a419f8%22%7D%5D"
																href="/product/veo-editor-old"
																class="button w-button">Explore Veo Editor</a>
															<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a419f8:5e677323-94a8-8324-c832-533ea7cc22da"
																data-wf-ao-click-engagement-tracking="true"
																data-wf-element-id="5e677323-94a8-8324-c832-533ea7cc22da"
																data-wf-component-context="%5B%7B%22componentId%22%3A%225e677323-94a8-8324-c832-533ea7cc22bf%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a419f8%22%7D%5D"
																href="#"
																class="button is-secondary w-button">Buy now</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="spacer-xhuge"></div>
							</div>
						</div>
					</section>
				</div>
				<div data-wf-experience-417241064="" data-wf-variation-617132430="" data-wf-hidden-variation=""
					class="w-optimization">
					<section color-theme="beige" class="section_laptop background-color-primary">
						<div class="laptop_scroll-wrapper">
							<div class="laptop_wrapper">
								<div class="laptop_container">
									<div class="laptop_video">
										<div class="laptop_video-child">
											<div class="background-video_component">
												<video autoplay="true" loop="" playsinline="true" muted=""
													class="background-video_component lazy" preload="none"
													poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7c8bbaace6f6b7da99a_Rugby%20Clip-poster-00001.jpg">
													<source
														data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7c8bbaace6f6b7da99a_Rugby%20Clip-transcode.mp4"
														type="video/mp4" src="" />
													<source
														data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7c8bbaace6f6b7da99a_Rugby%20Clip-transcode.webm"
														type="video/webm" src="" />
												</video>
											</div>
										</div>
									</div>
									<img src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor.webp"
										loading="lazy" sizes="100vw"
										srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-500.webp 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-800.webp 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-1080.webp 1080w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-1600.webp 1600w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-2000.webp 2000w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-2600.webp 2600w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-3200.webp 3200w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor.webp 3738w"
										alt="" class="laptop_image" />
								</div>
							</div>
						</div>
						<div class="laptop-text-wrapper">
							<div class="padding-global">
								<div class="container-large">
									<div class="padding-top padding-medium">
										<div class="laptop_text-wrapper">
											<div class="max-width-large align-center">
												<div class="margin-bottom margin-xsmall">
													<div animate="false" class="heading-style-tagline">Veo Editor</div>
												</div>
												<div class="margin-bottom margin-small">
													<h2 animate="false">Relive the action instantly</h2>
												</div>
												<p class="text-size-medium">Once the final whistle blows, the magic
													begins. AI gets to work tagging every key moment – scrums, tries,
													and everything in between – before the match is automatically
													uploaded to the Veo Editor. In no time, coaches and teams can dive
													in to analyse the action, watch highlights, tag players, and share
													feedback.</p>
												<div class="margin-top margin-medium">
													<div class="display-inlineflex">
														<div class="button-group">
															<a data-wf-native-id-path="f2cf5080-fc30-773b-7618-8b3ffdddc425:5e677323-94a8-8324-c832-533ea7cc22d8"
																data-wf-ao-click-engagement-tracking="true"
																data-wf-element-id="5e677323-94a8-8324-c832-533ea7cc22d8"
																data-wf-component-context="%5B%7B%22componentId%22%3A%225e677323-94a8-8324-c832-533ea7cc22bf%22%2C%22instanceId%22%3A%22f2cf5080-fc30-773b-7618-8b3ffdddc425%22%7D%5D"
																href="/product/veo-editor-old"
																class="button w-button">Explore Veo Editor</a>
															<a data-wf-native-id-path="f2cf5080-fc30-773b-7618-8b3ffdddc425:5e677323-94a8-8324-c832-533ea7cc22da"
																data-wf-ao-click-engagement-tracking="true"
																data-wf-element-id="5e677323-94a8-8324-c832-533ea7cc22da"
																data-wf-component-context="%5B%7B%22componentId%22%3A%225e677323-94a8-8324-c832-533ea7cc22bf%22%2C%22instanceId%22%3A%22f2cf5080-fc30-773b-7618-8b3ffdddc425%22%7D%5D"
																href="#"
																class="button is-secondary w-button">Buy now</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="spacer-xhuge"></div>
							</div>
						</div>
					</section>
				</div>
				<div data-wf-experience-417241064="" data-wf-variation-617132431="" data-wf-hidden-variation=""
					class="w-optimization">
					<section color-theme="beige" class="section_laptop background-color-primary">
						<div class="laptop_scroll-wrapper">
							<div class="laptop_wrapper">
								<div class="laptop_container">
									<div class="laptop_video">
										<div class="laptop_video-child">
											<div class="background-video_component">
												<video autoplay="true" loop="" playsinline="true" muted=""
													class="background-video_component lazy" preload="none"
													poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7da6ca5a1520cb46d2d_Lax%20Clip-poster-00001.jpg">
													<source
														data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7da6ca5a1520cb46d2d_Lax%20Clip-transcode.mp4"
														type="video/mp4" src="" />
													<source
														data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7da6ca5a1520cb46d2d_Lax%20Clip-transcode.webm"
														type="video/webm" src="" />
												</video>
											</div>
										</div>
									</div>
									<img src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor.webp"
										loading="lazy" sizes="100vw"
										srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-500.webp 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-800.webp 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-1080.webp 1080w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-1600.webp 1600w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-2000.webp 2000w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-2600.webp 2600w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-3200.webp 3200w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor.webp 3738w"
										alt="" class="laptop_image" />
								</div>
							</div>
						</div>
						<div class="laptop-text-wrapper">
							<div class="padding-global">
								<div class="container-large">
									<div class="padding-top padding-medium">
										<div class="laptop_text-wrapper">
											<div class="max-width-large align-center">
												<div class="margin-bottom margin-xsmall">
													<div animate="false" class="heading-style-tagline">Veo Editor</div>
												</div>
												<div class="margin-bottom margin-small">
													<h2 animate="false">Relive the action instantly</h2>
												</div>
												<p class="text-size-medium">Once the final whistle blows, the magic
													begins. AI gets to work tagging every key moment – goals, faceoffs,
													and everything in between – before the match is automatically
													uploaded to the Veo Editor. In no time, coaches and teams can dive
													in to analyse the action, watch highlights, tag players, and share
													feedback.</p>
												<div class="margin-top margin-medium">
													<div class="display-inlineflex">
														<div class="button-group">
															<a data-wf-native-id-path="d0aacde3-c3a8-bbca-1030-65319ebe953d:5e677323-94a8-8324-c832-533ea7cc22d8"
																data-wf-ao-click-engagement-tracking="true"
																data-wf-element-id="5e677323-94a8-8324-c832-533ea7cc22d8"
																data-wf-component-context="%5B%7B%22componentId%22%3A%225e677323-94a8-8324-c832-533ea7cc22bf%22%2C%22instanceId%22%3A%22d0aacde3-c3a8-bbca-1030-65319ebe953d%22%7D%5D"
																href="/product/veo-editor-old"
																class="button w-button">Explore Veo Editor</a>
															<a data-wf-native-id-path="d0aacde3-c3a8-bbca-1030-65319ebe953d:5e677323-94a8-8324-c832-533ea7cc22da"
																data-wf-ao-click-engagement-tracking="true"
																data-wf-element-id="5e677323-94a8-8324-c832-533ea7cc22da"
																data-wf-component-context="%5B%7B%22componentId%22%3A%225e677323-94a8-8324-c832-533ea7cc22bf%22%2C%22instanceId%22%3A%22d0aacde3-c3a8-bbca-1030-65319ebe953d%22%7D%5D"
																href="#"
																class="button is-secondary w-button">Buy now</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="spacer-xhuge"></div>
							</div>
						</div>
					</section>
				</div>
				<div data-wf-experience-417241064="" data-wf-variation-617132432="" data-wf-hidden-variation=""
					class="w-optimization">
					<section color-theme="beige" class="section_laptop background-color-primary">
						<div class="laptop_scroll-wrapper">
							<div class="laptop_wrapper">
								<div class="laptop_container">
									<div class="laptop_video">
										<div class="laptop_video-child">
											<div class="background-video_component">
												<video autoplay="true" loop="" playsinline="true" muted=""
													class="background-video_component lazy" preload="none"
													poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7e1a0ebb3601e1e1cee_Basketball%20Clip-poster-00001.jpg">
													<source
														data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7e1a0ebb3601e1e1cee_Basketball%20Clip-transcode.mp4"
														type="video/mp4" src="" />
													<source
														data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7e1a0ebb3601e1e1cee_Basketball%20Clip-transcode.webm"
														type="video/webm" src="" />
												</video>
											</div>
										</div>
									</div>
									<img src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor.webp"
										loading="lazy" sizes="100vw"
										srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-500.webp 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-800.webp 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-1080.webp 1080w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-1600.webp 1600w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-2000.webp 2000w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-2600.webp 2600w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor-p-3200.webp 3200w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/67602b5803b490ff72c28517_d5ac219f8cc713d8a2a1bb71950d057d_macbook_mockup_editor.webp 3738w"
										alt="" class="laptop_image" />
								</div>
							</div>
						</div>
						<div class="laptop-text-wrapper">
							<div class="padding-global">
								<div class="container-large">
									<div class="padding-top padding-medium">
										<div class="laptop_text-wrapper">
											<div class="max-width-large align-center">
												<div class="margin-bottom margin-xsmall">
													<div animate="false" class="heading-style-tagline">Veo Editor</div>
												</div>
												<div class="margin-bottom margin-small">
													<h2 animate="false">Relive the action instantly</h2>
												</div>
												<p class="text-size-medium">Once the final whistle blows, the match is
													automatically uploaded to the Veo Editor and the magic begins. In no
													time, coaches and teams can dive in to analyse the action, watch
													highlights, tag players, and share feedback.</p>
												<div class="margin-top margin-medium">
													<div class="display-inlineflex">
														<div class="button-group">
															<a data-wf-native-id-path="65ee60f1-47f9-98e1-5fc7-be4be88387e6:5e677323-94a8-8324-c832-533ea7cc22d8"
																data-wf-ao-click-engagement-tracking="true"
																data-wf-element-id="5e677323-94a8-8324-c832-533ea7cc22d8"
																data-wf-component-context="%5B%7B%22componentId%22%3A%225e677323-94a8-8324-c832-533ea7cc22bf%22%2C%22instanceId%22%3A%2265ee60f1-47f9-98e1-5fc7-be4be88387e6%22%7D%5D"
																href="/product/veo-editor-old"
																class="button w-button">Explore Veo Editor</a>
															<a data-wf-native-id-path="65ee60f1-47f9-98e1-5fc7-be4be88387e6:5e677323-94a8-8324-c832-533ea7cc22da"
																data-wf-ao-click-engagement-tracking="true"
																data-wf-element-id="5e677323-94a8-8324-c832-533ea7cc22da"
																data-wf-component-context="%5B%7B%22componentId%22%3A%225e677323-94a8-8324-c832-533ea7cc22bf%22%2C%22instanceId%22%3A%2265ee60f1-47f9-98e1-5fc7-be4be88387e6%22%7D%5D"
																href="#"
																class="button is-secondary w-button">Buy now</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="spacer-xhuge"></div>
							</div>
						</div>
					</section>
				</div>
			</div>
			