<section color-theme=""
			data-wf--section-interactive---pop-up--visual-element-visual-element---aspect-ratio="1x1"
			class="section_popup">
			<div class="popup_preview">
				<div class="background-color-primary">
					<div class="padding-medium">
						<div class="text-color-black">
							**** Pop-up preview****
							<br />
							Uncheck the preview before publishing.
						</div>
					</div>
				</div>
				<div class="popup_card">
					<div class="popup_visual-button w-variant-c0b80481-0e5f-7256-d22b-cff4c03b2e28">
						<div class="popup_visual-wrapper w-variant-c0b80481-0e5f-7256-d22b-cff4c03b2e28">
							<div class="background-video_component">
								<img src="https://ik.imagekit.io/dr5fryhth/kabaka/fuel-poster.jpg?updatedAt=1769149309399"
									loading="lazy" alt="" sizes="100vw"
									srcset="https://ik.imagekit.io/dr5fryhth/kabaka/fuel-poster.jpg?updatedAt=1769149309399"
									class="background-video_poster is-desktop" />
								<img src="https://ik.imagekit.io/dr5fryhth/kabaka/fuel-poster.jpg?updatedAt=1769149309399"
									loading="lazy" alt="" sizes="100vw"
									srcset="https://ik.imagekit.io/dr5fryhth/kabaka/fuel-poster.jpg?updatedAt=1769149309399"
									class="background-video_poster is-mobile" />
							</div>
						</div>
						<div class="show-mobile-landscape">
							<a data-wf-native-id-path="5158f048-168d-f792-886a-1ef567e89af2:0c827693-cbc1-39b1-9eb5-393e76e2aec5"
								data-wf-ao-click-engagement-tracking="true"
								data-wf-element-id="0c827693-cbc1-39b1-9eb5-393e76e2aec5"
								data-wf-component-context="%5B%7B%22componentId%22%3A%22dd58644a-b985-2557-3ef9-7dc6479e607f%22%2C%22instanceId%22%3A%225158f048-168d-f792-886a-1ef567e89af2%22%7D%5D"
								href="#" class="button w-button">Explore the plaza</a>
						</div>
					</div>
					<div class="popup_content-wrapper w-variant-c0b80481-0e5f-7256-d22b-cff4c03b2e28">
						<h2 class="text-wrap-balance">Discover Kabaka Plaza</h2>
						<div class="hide-mobile-landscape">
							<p>
								<strong>
									Fuel up, shop smart, and enjoy great food in one destination.
									<br />
								</strong>
								<br />
								From the fuel station and SuperMart to the car wash, cold store, and lounge,
								everything you need is here.
								<br />
							</p>
						</div>
						<div class="hide-mobile-landscape">
							<a data-wf-native-id-path="5158f048-168d-f792-886a-1ef567e89af2:0c827693-cbc1-39b1-9eb5-393e76e2aece"
								data-wf-ao-click-engagement-tracking="true"
								data-wf-element-id="0c827693-cbc1-39b1-9eb5-393e76e2aece"
								data-wf-component-context="%5B%7B%22componentId%22%3A%22dd58644a-b985-2557-3ef9-7dc6479e607f%22%2C%22instanceId%22%3A%225158f048-168d-f792-886a-1ef567e89af2%22%7D%5D"
								href="#" class="button w-button">Explore the plaza</a>
						</div>
					</div>
					<a data-wf-native-id-path="5158f048-168d-f792-886a-1ef567e89af2:0c827693-cbc1-39b1-9eb5-393e76e2aed3"
						data-wf-ao-click-engagement-tracking="true"
						data-wf-element-id="0c827693-cbc1-39b1-9eb5-393e76e2aed3"
						data-wf-component-context="%5B%7B%22componentId%22%3A%22dd58644a-b985-2557-3ef9-7dc6479e607f%22%2C%22instanceId%22%3A%225158f048-168d-f792-886a-1ef567e89af2%22%7D%5D"
						href="#" class="popup_close w-inline-block">
						<div class="icon-embed-small w-embed">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M16.192 6.34424L11.949 10.5862L7.70697 6.34424L6.29297 7.75824L10.535 12.0002L6.29297 16.2422L7.70697 17.6562L11.949 13.4142L16.192 17.6562L17.606 16.2422L13.364 12.0002L17.606 7.75824L16.192 6.34424Z"
									fill="var(--text--primary, black)"></path>
							</svg>
						</div>
					</a>
				</div>
			</div>
			<div data-popup-cooldown="0d 2h 0m" data-popup-delay="10"
				class="popup_component is-popup-hidden is-popup-transparent">
				<div class="popup_background"></div>
				<div class="popup_scrollview">
					<div class="popup_card">
						<div class="popup_visual-button w-variant-c0b80481-0e5f-7256-d22b-cff4c03b2e28">
							<div class="popup_visual-wrapper w-variant-c0b80481-0e5f-7256-d22b-cff4c03b2e28">
								<div class="background-video_component">
									<img src="https://ik.imagekit.io/dr5fryhth/kabaka/fuel-poster.jpg?updatedAt=1769149309399"
										loading="lazy" alt="" sizes="100vw"
										srcset="https://ik.imagekit.io/dr5fryhth/kabaka/fuel-poster.jpg?updatedAt=1769149309399"
										class="background-video_poster is-desktop" />
									<img src="https://ik.imagekit.io/dr5fryhth/kabaka/fuel-poster.jpg?updatedAt=1769149309399"
										loading="lazy" alt="" sizes="100vw"
										srcset="https://ik.imagekit.io/dr5fryhth/kabaka/fuel-poster.jpg?updatedAt=1769149309399"
										class="background-video_poster is-mobile" />
								</div>
							</div>
							<div class="show-mobile-landscape">
								<a data-wf-native-id-path="5158f048-168d-f792-886a-1ef567e89af2:56b9ed9b-380a-a99e-1837-a19c9cc9ea9e"
									data-wf-ao-click-engagement-tracking="true"
									data-wf-element-id="56b9ed9b-380a-a99e-1837-a19c9cc9ea9e"
									data-wf-component-context="%5B%7B%22componentId%22%3A%22dd58644a-b985-2557-3ef9-7dc6479e607f%22%2C%22instanceId%22%3A%225158f048-168d-f792-886a-1ef567e89af2%22%7D%5D"
									href="#" class="button w-button">Explore the plaza</a>
							</div>
						</div>
						<div class="popup_content-wrapper w-variant-c0b80481-0e5f-7256-d22b-cff4c03b2e28">
							<h2 class="text-wrap-balance">Discover Kabaka Plaza</h2>
							<div class="hide-mobile-landscape">
								<p>
									<strong>
										Fuel up, shop smart, and enjoy great food in one destination.
										<br />
									</strong>
									<br />
									From the fuel station and SuperMart to the car wash, cold store, and lounge,
									everything you need is here.
									<br />
								</p>
							</div>
							<div class="hide-mobile-landscape">
								<a data-wf-native-id-path="5158f048-168d-f792-886a-1ef567e89af2:dd58644a-b985-2557-3ef9-7dc6479e608a"
									data-wf-ao-click-engagement-tracking="true"
									data-wf-element-id="dd58644a-b985-2557-3ef9-7dc6479e608a"
									data-wf-component-context="%5B%7B%22componentId%22%3A%22dd58644a-b985-2557-3ef9-7dc6479e607f%22%2C%22instanceId%22%3A%225158f048-168d-f792-886a-1ef567e89af2%22%7D%5D"
									href="#" class="button w-button">Explore the plaza</a>
							</div>
						</div>
						<a data-wf-native-id-path="5158f048-168d-f792-886a-1ef567e89af2:dd58644a-b985-2557-3ef9-7dc6479e608e"
							data-wf-ao-click-engagement-tracking="true"
							data-wf-element-id="dd58644a-b985-2557-3ef9-7dc6479e608e"
							data-wf-component-context="%5B%7B%22componentId%22%3A%22dd58644a-b985-2557-3ef9-7dc6479e607f%22%2C%22instanceId%22%3A%225158f048-168d-f792-886a-1ef567e89af2%22%7D%5D"
							href="#" class="popup_close w-inline-block">
							<div class="icon-embed-small w-embed">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M16.192 6.34424L11.949 10.5862L7.70697 6.34424L6.29297 7.75824L10.535 12.0002L6.29297 16.2422L7.70697 17.6562L11.949 13.4142L16.192 17.6562L17.606 16.2422L13.364 12.0002L17.606 7.75824L16.192 6.34424Z"
										fill="var(--text--primary, black)"></path>
								</svg>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="script_popup-css w-embed">
				<!-- Pop-up Component -->
				<link rel="stylesheet" href="inline/style-11.css" />
				<!-- Pop-up Component -->
			</div>
			<div class="script_popup-js w-embed w-script">
				<!-- Pop-up component JS -->
				<script src="inline/script-18.js"></script>
			</div>
		</section>
		
