<section color-theme="beige" class="section_sport-slider background-color-primary">
				<div class="padding-global padding-section-mobile">
					<div class="container-large">
						<div class="padding-section-large">
							<div class="margin-bottom margin-xlarge">
								<div class="text-align-center">
									<div class="max-width-large align-center">
										<div class="margin-bottom margin-small">
											<h2 animate="false">Built for every team sport</h2>
										</div>
									</div>
								</div>
							</div>
							<div data-initial-slide="1" data-slides-desktop="1" data-slides-tablet="1"
								data-slides-mobile="1.2" data-space-desktop="40" data-space-tablet="40"
								data-space-mobile="24" class="swiper is-sports">
								<div role="list" class="swiper-wrapper is-sports">
									<a color-theme="dark"
										data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a28:d7ca4f39-8486-cbf1-b673-56b87e5c8fdd"
										data-wf-ao-click-engagement-tracking="true"
										data-wf-element-id="d7ca4f39-8486-cbf1-b673-56b87e5c8fdd"
										data-wf-component-context="%5B%7B%22componentId%22%3A%22d7ca4f39-8486-cbf1-b673-56b87e5c8fdd%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a28%22%7D%5D"
										href="/sport/football" class="swiper-slide is-sports w-inline-block">
										<div class="slide-video_wrapper border-radius-medium">
											<div class="slide-video_video-container">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7be52c1c9b0c85d2a7e_Football%20Clip-poster-00001.jpg">
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7be52c1c9b0c85d2a7e_Football%20Clip-transcode.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7be52c1c9b0c85d2a7e_Football%20Clip-transcode.webm"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
											<div class="slide-video_opacity"></div>
											<div class="slide-video_text-container">
												<h3 animate="false" class="heading-style-h2">Football</h3>
											</div>
										</div>
									</a>
									<a color-theme="dark"
										data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a2a:d7ca4f39-8486-cbf1-b673-56b87e5c8fdd"
										data-wf-ao-click-engagement-tracking="true"
										data-wf-element-id="d7ca4f39-8486-cbf1-b673-56b87e5c8fdd"
										data-wf-component-context="%5B%7B%22componentId%22%3A%22d7ca4f39-8486-cbf1-b673-56b87e5c8fdd%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a2a%22%7D%5D"
										href="/sport/rugby" class="swiper-slide is-sports w-inline-block">
										<div class="slide-video_wrapper border-radius-medium">
											<div class="slide-video_video-container">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7c8bbaace6f6b7da99a_Rugby%20Clip-poster-00001.jpg">
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7c8bbaace6f6b7da99a_Rugby%20Clip-transcode.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7c8bbaace6f6b7da99a_Rugby%20Clip-transcode.webm"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
											<div class="slide-video_opacity"></div>
											<div class="slide-video_text-container">
												<h3 animate="false" class="heading-style-h2">Rugby</h3>
											</div>
										</div>
									</a>
									<a color-theme="dark"
										data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a2c:d7ca4f39-8486-cbf1-b673-56b87e5c8fdd"
										data-wf-ao-click-engagement-tracking="true"
										data-wf-element-id="d7ca4f39-8486-cbf1-b673-56b87e5c8fdd"
										data-wf-component-context="%5B%7B%22componentId%22%3A%22d7ca4f39-8486-cbf1-b673-56b87e5c8fdd%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a2c%22%7D%5D"
										href="/sport/lacrosse" class="swiper-slide is-sports w-inline-block">
										<div class="slide-video_wrapper border-radius-medium">
											<div class="slide-video_video-container">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7da6ca5a1520cb46d2d_Lax%20Clip-poster-00001.jpg">
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7da6ca5a1520cb46d2d_Lax%20Clip-transcode.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7da6ca5a1520cb46d2d_Lax%20Clip-transcode.webm"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
											<div class="slide-video_opacity"></div>
											<div class="slide-video_text-container">
												<h3 animate="false" class="heading-style-h2">Lacrosse</h3>
											</div>
										</div>
									</a>
									<a color-theme="dark"
										data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a2e:d7ca4f39-8486-cbf1-b673-56b87e5c8fdd"
										data-wf-ao-click-engagement-tracking="true"
										data-wf-element-id="d7ca4f39-8486-cbf1-b673-56b87e5c8fdd"
										data-wf-component-context="%5B%7B%22componentId%22%3A%22d7ca4f39-8486-cbf1-b673-56b87e5c8fdd%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a2e%22%7D%5D"
										href="/sport/basketball" class="swiper-slide is-sports w-inline-block">
										<div class="slide-video_wrapper border-radius-medium">
											<div class="slide-video_video-container">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7e1a0ebb3601e1e1cee_Basketball%20Clip-poster-00001.jpg">
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7e1a0ebb3601e1e1cee_Basketball%20Clip-transcode.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7e1a0ebb3601e1e1cee_Basketball%20Clip-transcode.webm"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
											<div class="slide-video_opacity"></div>
											<div class="slide-video_text-container">
												<h3 animate="false" class="heading-style-h2">Basketball</h3>
											</div>
										</div>
									</a>
									<a color-theme="dark"
										data-wf-native-id-path="31108ac4-55f3-05cd-1ae6-8b7129027403:d7ca4f39-8486-cbf1-b673-56b87e5c8fdd"
										data-wf-ao-click-engagement-tracking="true"
										data-wf-element-id="d7ca4f39-8486-cbf1-b673-56b87e5c8fdd"
										data-wf-component-context="%5B%7B%22componentId%22%3A%22d7ca4f39-8486-cbf1-b673-56b87e5c8fdd%22%2C%22instanceId%22%3A%2231108ac4-55f3-05cd-1ae6-8b7129027403%22%7D%5D"
										href="/sport/american-football" class="swiper-slide is-sports w-inline-block">
										<div class="slide-video_wrapper border-radius-medium">
											<div class="slide-video_video-container">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7fe6468311ee76d5d59_American%20Football%20Clip-poster-00001.jpg">
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7fe6468311ee76d5d59_American%20Football%20Clip-transcode.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c7fe6468311ee76d5d59_American%20Football%20Clip-transcode.webm"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
											<div class="slide-video_opacity"></div>
											<div class="slide-video_text-container">
												<h3 animate="false" class="heading-style-h2">American football</h3>
											</div>
										</div>
									</a>
									<a color-theme="dark"
										data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a30:d7ca4f39-8486-cbf1-b673-56b87e5c8fdd"
										data-wf-ao-click-engagement-tracking="true"
										data-wf-element-id="d7ca4f39-8486-cbf1-b673-56b87e5c8fdd"
										data-wf-component-context="%5B%7B%22componentId%22%3A%22d7ca4f39-8486-cbf1-b673-56b87e5c8fdd%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a30%22%7D%5D"
										href="/sport/hockey" class="swiper-slide is-sports w-inline-block">
										<div class="slide-video_wrapper border-radius-medium">
											<div class="slide-video_video-container">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c808542fe8a5a3f1cb3f_Ice%20Hockey%20Clip-poster-00001.jpg">
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c808542fe8a5a3f1cb3f_Ice%20Hockey%20Clip-transcode.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c808542fe8a5a3f1cb3f_Ice%20Hockey%20Clip-transcode.webm"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
											<div class="slide-video_opacity"></div>
											<div class="slide-video_text-container">
												<h3 animate="false" class="heading-style-h2">Hockey</h3>
											</div>
										</div>
									</a>
									<a color-theme="dark"
										data-wf-native-id-path="f5aa64f3-e5d1-c017-7652-7237a21e55c3:d7ca4f39-8486-cbf1-b673-56b87e5c8fdd"
										data-wf-ao-click-engagement-tracking="true"
										data-wf-element-id="d7ca4f39-8486-cbf1-b673-56b87e5c8fdd"
										data-wf-component-context="%5B%7B%22componentId%22%3A%22d7ca4f39-8486-cbf1-b673-56b87e5c8fdd%22%2C%22instanceId%22%3A%22f5aa64f3-e5d1-c017-7652-7237a21e55c3%22%7D%5D"
										href="/sport/other-sports" class="swiper-slide is-sports w-inline-block">
										<div class="slide-video_wrapper border-radius-medium">
											<div class="slide-video_video-container">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c81b7d992e99c6438ca3_Volleyball%20Clip-poster-00001.jpg">
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c81b7d992e99c6438ca3_Volleyball%20Clip-transcode.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6880c81b7d992e99c6438ca3_Volleyball%20Clip-transcode.webm"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
											<div class="slide-video_opacity"></div>
											<div class="slide-video_text-container">
												<h3 animate="false" class="heading-style-h2">Other sports</h3>
											</div>
										</div>
									</a>
								</div>
								<div class="spacer-medium"></div>
								<div class="swiper_navigation">
									<div class="swiper-pagination">
										<div class="swiper-pagination-bullet-active"></div>
										<div class="swiper-pagination-bullet"></div>
									</div>
									<div class="slider-sports_arrows-wrapper">
										<div class="swiper_arrow left">
											<div class="interactive2_arrow-icon w-embed">
												<svg width="100%" height="100%" viewBox="0 0 16 16" fill="none"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M3.31066 8.75001L9.03033 14.4697L7.96967 15.5303L0.439339 8.00001L7.96967 0.469676L9.03033 1.53034L3.31066 7.25001L15.5 7.25L15.5 8.75L3.31066 8.75001Z"
														fill="currentColor"></path>
												</svg>
											</div>
										</div>
										<div class="swiper_arrow right">
											<div class="interactive2_arrow-icon right w-embed">
												<svg width="100%" height="100%" viewBox="0 0 16 16" fill="none"
													xmlns="http://www.w3.org/2000/svg">
													<path
														d="M3.31066 8.75001L9.03033 14.4697L7.96967 15.5303L0.439339 8.00001L7.96967 0.469676L9.03033 1.53034L3.31066 7.25001L15.5 7.25L15.5 8.75L3.31066 8.75001Z"
														fill="currentColor"></path>
												</svg>
											</div>
										</div>
									</div>
								</div>
								<div class="w-embed w-script">
									<!-- Generic Swiper config -->
									<script src="inline/script-27.js"></script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			