<section color-theme="" class="section_stacking-cards background-color-primary">
				<div class="padding-global">
					<div class="container-large">
						<div class="padding-section-large">
							<div class="max-width-large align-center">
								<div class="text-align-center">
									<div class="margin-bottom margin-xsmall">
										<div class="w-optimization">
											<div data-wf-experience-417241064="" data-wf-variation-617132433=""
												class="w-optimization">
												<div class="heading-style-tagline">add-ons</div>
											</div>
											<div data-wf-experience-417241064="" data-wf-variation-617132430=""
												data-wf-hidden-variation="" class="w-optimization">
												<div class="heading-style-tagline">Veo Live</div>
											</div>
											<div data-wf-experience-417241064="" data-wf-variation-617132431=""
												data-wf-hidden-variation="" class="w-optimization">
												<div class="heading-style-tagline">Veo Live</div>
											</div>
											<div data-wf-experience-417241064="" data-wf-variation-617132432=""
												data-wf-hidden-variation="" class="w-optimization">
												<div class="heading-style-tagline">Veo Live</div>
											</div>
										</div>
									</div>
									<div class="margin-bottom margin-small">
										<div class="w-optimization">
											<div data-wf-experience-417241064="" data-wf-variation-617132433=""
												class="w-optimization">
												<h2>
													Upgrade your game with powerful
													<br />
													add-on tools
												</h2>
											</div>
											<div data-wf-experience-417241064="" data-wf-variation-617132430=""
												data-wf-hidden-variation="" class="w-optimization"></div>
											<div data-wf-experience-417241064="" data-wf-variation-617132431=""
												data-wf-hidden-variation="" class="w-optimization"></div>
											<div data-wf-experience-417241064="" data-wf-variation-617132432=""
												data-wf-hidden-variation="" class="w-optimization"></div>
										</div>
										<div class="w-optimization">
											<div data-wf-experience-417241064="" data-wf-variation-617132433=""
												class="w-optimization"></div>
											<div data-wf-experience-417241064="" data-wf-variation-617132430=""
												data-wf-hidden-variation="" class="w-optimization">
												<h2>Go live with every match</h2>
											</div>
											<div data-wf-experience-417241064="" data-wf-variation-617132431=""
												data-wf-hidden-variation="" class="w-optimization">
												<h2>Go live with every match</h2>
											</div>
											<div data-wf-experience-417241064="" data-wf-variation-617132432=""
												data-wf-hidden-variation="" class="w-optimization">
												<h2>Go live with every match</h2>
											</div>
										</div>
									</div>
									<div class="margin-bottom margin-large">
										<div class="w-optimization">
											<div data-wf-experience-417241064="" data-wf-variation-617132433=""
												class="w-optimization">
												<p class="text-size-medium">
													Veo&#39;s smart add-ons get to work instantly, automatically
													breaking
													down the action so your footage is ready to watch and analyse. Live
													stream the action, dive into deep analytics, and spotlight standout
													plays with powerful tools built to match your game.
													<br />
												</p>
											</div>
											<div data-wf-experience-417241064="" data-wf-variation-617132430=""
												data-wf-hidden-variation="" class="w-optimization"></div>
											<div data-wf-experience-417241064="" data-wf-variation-617132431=""
												data-wf-hidden-variation="" class="w-optimization"></div>
											<div data-wf-experience-417241064="" data-wf-variation-617132432=""
												data-wf-hidden-variation="" class="w-optimization"></div>
										</div>
										<div class="w-optimization">
											<div data-wf-experience-417241064="" data-wf-variation-617132433=""
												class="w-optimization"></div>
											<div data-wf-experience-417241064="" data-wf-variation-617132430=""
												data-wf-hidden-variation="" class="w-optimization">
												<p class="text-size-medium">
													Veo Live lets you stream your matches live from anywhere, sharing
													the action with friends, family, and anyone who tunes in to watch
													your team. Level up your stream with your team logo, sponsored
													overlays, and more.
													<br />
												</p>
											</div>
											<div data-wf-experience-417241064="" data-wf-variation-617132431=""
												data-wf-hidden-variation="" class="w-optimization">
												<p class="text-size-medium">
													Veo Live lets you stream your matches live from anywhere, sharing
													the action with friends, family, and anyone who tunes in to watch
													your team. Level up your stream with your team logo, sponsored
													overlays, and more.
													<br />
												</p>
											</div>
											<div data-wf-experience-417241064="" data-wf-variation-617132432=""
												data-wf-hidden-variation="" class="w-optimization">
												<p class="text-size-medium">
													Veo Live lets you stream your matches live from anywhere, sharing
													the action with friends, family, and anyone who tunes in to watch
													your team. Level up your stream with your team logo, sponsored
													overlays, and more.
													<br />
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="stack-card_wrapper">
									<div class="w-optimization">
										<div data-wf-experience-417241064="" data-wf-variation-617132433=""
											class="w-optimization">
											<div color-theme="green" class="stack-card is-link">
												<div animate="false" class="stack-card_text-container">
													<div class="margin-bottom margin-small">
														<div class="heading-style-tagline text-style-muted">Veo
															Analytics</div>
													</div>
													<div class="margin-bottom margin-small">
														<h3>Turn key moments into winning insights</h3>
													</div>
													<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a0c:c571f8fe-154e-035d-5985-8189f69d16dc"
														data-wf-ao-click-engagement-tracking="true"
														data-wf-element-id="c571f8fe-154e-035d-5985-8189f69d16dc"
														data-wf-component-context="%5B%7B%22componentId%22%3A%22c571f8fe-154e-035d-5985-8189f69d16d4%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a0c%22%7D%5D"
														href="/product/veo-analytics-old"
														class="stack-card_text_link w-inline-block">
														<div class="text-color-inherit">Explore Veo Analytics</div>
														<div class="display-inlineflex w-embed">
															<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
																xmlns="http://www.w3.org/2000/svg">
																<path
																	d="M18.707 12L12.707 18L12 17.293L16.793 12.5H6.5V11.5H16.793L12 6.70703L12.707 6L18.707 12Z"
																	fill="currentColor" stroke="currentColor"></path>
															</svg>
														</div>
													</a>
												</div>
												<img width="Auto"
													src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/68808707f2905e7871b3b994_ANALYTICS-INDEX-16x9-min.avif"
													alt="" loading="lazy" sizes="100vw"
													srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/68808707f2905e7871b3b994_ANALYTICS-INDEX-16x9-min-p-500.avif 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/68808707f2905e7871b3b994_ANALYTICS-INDEX-16x9-min-p-800.avif 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/68808707f2905e7871b3b994_ANALYTICS-INDEX-16x9-min-p-1080.avif 1080w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/68808707f2905e7871b3b994_ANALYTICS-INDEX-16x9-min-p-1600.avif 1600w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/68808707f2905e7871b3b994_ANALYTICS-INDEX-16x9-min-p-2000.avif 2000w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/68808707f2905e7871b3b994_ANALYTICS-INDEX-16x9-min.avif 2560w"
													class="stack-card_link-image-desktop" />
												<img width="Auto"
													src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688086f49000bc7c3dc77097_ANALYTICS-INDEX-1440x1984%20(1).avif"
													alt="" loading="lazy" sizes="100vw"
													srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688086f49000bc7c3dc77097_ANALYTICS-INDEX-1440x1984%20(1)-p-500.avif 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688086f49000bc7c3dc77097_ANALYTICS-INDEX-1440x1984%20(1)-p-800.avif 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688086f49000bc7c3dc77097_ANALYTICS-INDEX-1440x1984%20(1)-p-1080.avif 1080w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688086f49000bc7c3dc77097_ANALYTICS-INDEX-1440x1984%20(1).avif 1440w"
													class="stack-card_link-image-mobile" />
											</div>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132430=""
											data-wf-hidden-variation="" class="w-optimization"></div>
										<div data-wf-experience-417241064="" data-wf-variation-617132431=""
											data-wf-hidden-variation="" class="w-optimization"></div>
										<div data-wf-experience-417241064="" data-wf-variation-617132432=""
											data-wf-hidden-variation="" class="w-optimization"></div>
									</div>
									<div class="w-optimization">
										<div data-wf-experience-417241064="" data-wf-variation-617132430=""
											data-wf-variation-617132431="" data-wf-variation-617132433=""
											class="w-optimization">
											<div color-theme="green" class="stack-card is-link">
												<div animate="false" class="stack-card_text-container">
													<div class="margin-bottom margin-small">
														<div class="heading-style-tagline text-style-muted">Veo Live
														</div>
													</div>
													<div class="margin-bottom margin-small">
														<h3>Go live straight from the pitch</h3>
													</div>
													<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a10:c571f8fe-154e-035d-5985-8189f69d16dc"
														data-wf-ao-click-engagement-tracking="true"
														data-wf-element-id="c571f8fe-154e-035d-5985-8189f69d16dc"
														data-wf-component-context="%5B%7B%22componentId%22%3A%22c571f8fe-154e-035d-5985-8189f69d16d4%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a10%22%7D%5D"
														href="/product/veo-live"
														class="stack-card_text_link w-inline-block">
														<div class="text-color-inherit">Explore Veo Live</div>
														<div class="display-inlineflex w-embed">
															<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
																xmlns="http://www.w3.org/2000/svg">
																<path
																	d="M18.707 12L12.707 18L12 17.293L16.793 12.5H6.5V11.5H16.793L12 6.70703L12.707 6L18.707 12Z"
																	fill="currentColor" stroke="currentColor"></path>
															</svg>
														</div>
													</a>
												</div>
												<img width="Auto"
													src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880871b41fc4a73a0676782_LIVE-INDEX-16x9%20(1).avif"
													alt="" loading="lazy" sizes="100vw"
													srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880871b41fc4a73a0676782_LIVE-INDEX-16x9%20(1)-p-500.avif 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880871b41fc4a73a0676782_LIVE-INDEX-16x9%20(1)-p-800.avif 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880871b41fc4a73a0676782_LIVE-INDEX-16x9%20(1)-p-1080.avif 1080w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880871b41fc4a73a0676782_LIVE-INDEX-16x9%20(1)-p-1600.avif 1600w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880871b41fc4a73a0676782_LIVE-INDEX-16x9%20(1)-p-2000.avif 2000w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880871b41fc4a73a0676782_LIVE-INDEX-16x9%20(1).avif 2560w"
													class="stack-card_link-image-desktop" />
												<img width="Auto"
													src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688087295e9c849f57ee9db8_LIVE-INDEX-1440x1984%20(1).avif"
													alt="" loading="lazy" sizes="100vw"
													srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688087295e9c849f57ee9db8_LIVE-INDEX-1440x1984%20(1)-p-500.avif 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688087295e9c849f57ee9db8_LIVE-INDEX-1440x1984%20(1)-p-800.avif 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688087295e9c849f57ee9db8_LIVE-INDEX-1440x1984%20(1)-p-1080.avif 1080w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688087295e9c849f57ee9db8_LIVE-INDEX-1440x1984%20(1).avif 1440w"
													class="stack-card_link-image-mobile" />
											</div>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132432=""
											data-wf-hidden-variation="" class="w-optimization">
											<div color-theme="green" class="stack-card is-link">
												<div animate="false" class="stack-card_text-container">
													<div class="margin-bottom margin-small">
														<div class="heading-style-tagline text-style-muted">Veo Live
														</div>
													</div>
													<div class="margin-bottom margin-small">
														<h3>Go live straight from the court</h3>
													</div>
													<a data-wf-native-id-path="3172cc44-b75c-8ee6-3cc3-5271e3ad9b20:c571f8fe-154e-035d-5985-8189f69d16dc"
														data-wf-ao-click-engagement-tracking="true"
														data-wf-element-id="c571f8fe-154e-035d-5985-8189f69d16dc"
														data-wf-component-context="%5B%7B%22componentId%22%3A%22c571f8fe-154e-035d-5985-8189f69d16d4%22%2C%22instanceId%22%3A%223172cc44-b75c-8ee6-3cc3-5271e3ad9b20%22%7D%5D"
														href="/product/veo-live"
														class="stack-card_text_link w-inline-block">
														<div class="text-color-inherit">Explore Veo Live</div>
														<div class="display-inlineflex w-embed">
															<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
																xmlns="http://www.w3.org/2000/svg">
																<path
																	d="M18.707 12L12.707 18L12 17.293L16.793 12.5H6.5V11.5H16.793L12 6.70703L12.707 6L18.707 12Z"
																	fill="currentColor" stroke="currentColor"></path>
															</svg>
														</div>
													</a>
												</div>
												<img width="Auto"
													src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880871b41fc4a73a0676782_LIVE-INDEX-16x9%20(1).avif"
													alt="" loading="lazy" sizes="100vw"
													srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880871b41fc4a73a0676782_LIVE-INDEX-16x9%20(1)-p-500.avif 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880871b41fc4a73a0676782_LIVE-INDEX-16x9%20(1)-p-800.avif 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880871b41fc4a73a0676782_LIVE-INDEX-16x9%20(1)-p-1080.avif 1080w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880871b41fc4a73a0676782_LIVE-INDEX-16x9%20(1)-p-1600.avif 1600w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880871b41fc4a73a0676782_LIVE-INDEX-16x9%20(1)-p-2000.avif 2000w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880871b41fc4a73a0676782_LIVE-INDEX-16x9%20(1).avif 2560w"
													class="stack-card_link-image-desktop" />
												<img width="Auto"
													src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688087295e9c849f57ee9db8_LIVE-INDEX-1440x1984%20(1).avif"
													alt="" loading="lazy" sizes="100vw"
													srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688087295e9c849f57ee9db8_LIVE-INDEX-1440x1984%20(1)-p-500.avif 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688087295e9c849f57ee9db8_LIVE-INDEX-1440x1984%20(1)-p-800.avif 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688087295e9c849f57ee9db8_LIVE-INDEX-1440x1984%20(1)-p-1080.avif 1080w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/688087295e9c849f57ee9db8_LIVE-INDEX-1440x1984%20(1).avif 1440w"
													class="stack-card_link-image-mobile" />
											</div>
										</div>
									</div>
									<div class="w-optimization">
										<div data-wf-experience-417241064="" data-wf-variation-617132433=""
											class="w-optimization">
											<div color-theme="green" class="stack-card is-link">
												<div animate="false" class="stack-card_text-container">
													<div class="margin-bottom margin-small">
														<div class="heading-style-tagline text-style-muted">Veo Player
															spotlight</div>
													</div>
													<div class="margin-bottom margin-small">
														<h3>Boost player development with individual tracking</h3>
													</div>
													<a data-wf-native-id-path="0f298c08-9c45-83aa-1826-e8b196a41a14:c571f8fe-154e-035d-5985-8189f69d16dc"
														data-wf-ao-click-engagement-tracking="true"
														data-wf-element-id="c571f8fe-154e-035d-5985-8189f69d16dc"
														data-wf-component-context="%5B%7B%22componentId%22%3A%22c571f8fe-154e-035d-5985-8189f69d16d4%22%2C%22instanceId%22%3A%220f298c08-9c45-83aa-1826-e8b196a41a14%22%7D%5D"
														href="/product/veo-player-spotlight"
														class="stack-card_text_link w-inline-block">
														<div class="text-color-inherit">Explore Veo Player Spotlight
														</div>
														<div class="display-inlineflex w-embed">
															<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
																xmlns="http://www.w3.org/2000/svg">
																<path
																	d="M18.707 12L12.707 18L12 17.293L16.793 12.5H6.5V11.5H16.793L12 6.70703L12.707 6L18.707 12Z"
																	fill="currentColor" stroke="currentColor"></path>
															</svg>
														</div>
													</a>
												</div>
												<img width="Auto"
													src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/68808768b5f6bdccc7f9199a_SPOTLIGHT-INDEX-16x9%20(1)-min.avif"
													alt="" loading="lazy" sizes="100vw"
													srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/68808768b5f6bdccc7f9199a_SPOTLIGHT-INDEX-16x9%20(1)-min-p-500.avif 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/68808768b5f6bdccc7f9199a_SPOTLIGHT-INDEX-16x9%20(1)-min-p-800.avif 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/68808768b5f6bdccc7f9199a_SPOTLIGHT-INDEX-16x9%20(1)-min-p-1080.avif 1080w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/68808768b5f6bdccc7f9199a_SPOTLIGHT-INDEX-16x9%20(1)-min-p-1600.avif 1600w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/68808768b5f6bdccc7f9199a_SPOTLIGHT-INDEX-16x9%20(1)-min-p-2000.avif 2000w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/68808768b5f6bdccc7f9199a_SPOTLIGHT-INDEX-16x9%20(1)-min.avif 2560w"
													class="stack-card_link-image-desktop" />
												<img width="Auto"
													src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880876f3db1cac41232892f_SPOTLIGHT-INDEX-1440x1984%20(1).avif"
													alt="" loading="lazy" sizes="100vw"
													srcset="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880876f3db1cac41232892f_SPOTLIGHT-INDEX-1440x1984%20(1)-p-500.avif 500w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880876f3db1cac41232892f_SPOTLIGHT-INDEX-1440x1984%20(1)-p-800.avif 800w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880876f3db1cac41232892f_SPOTLIGHT-INDEX-1440x1984%20(1)-p-1080.avif 1080w, https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c/6880876f3db1cac41232892f_SPOTLIGHT-INDEX-1440x1984%20(1).avif 1440w"
													class="stack-card_link-image-mobile" />
											</div>
										</div>
										<div data-wf-experience-417241064="" data-wf-variation-617132430=""
											data-wf-hidden-variation="" class="w-optimization"></div>
										<div data-wf-experience-417241064="" data-wf-variation-617132431=""
											data-wf-hidden-variation="" class="w-optimization"></div>
										<div data-wf-experience-417241064="" data-wf-variation-617132432=""
											data-wf-hidden-variation="" class="w-optimization"></div>
									</div>
								</div>
								<div class="w-embed w-script">
									<!-- Stack cards GSAP interaction -->
									<script src="inline/script-26.js"></script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			