<section color-theme="beige" class="section_steps background-color-primary">
				<div class="padding-global">
					<div class="container-large">
						<div class="padding-section-medium">
							<div class="margin-bottom margin-xlarge">
								<div class="max-width-large">
									<div class="margin-bottom margin-small">
										<h2>
											Capture, analyse, and share the action
											<br />
											in three simple steps
										</h2>
									</div>
								</div>
							</div>
							<div class="steps_component">
								<div class="steps_content-left">
									<div>
										<div class="steps_number">0</div>
									</div>
									<div class="steps_number-wrapper">
										<div class="steps_number-container">
											<div class="steps_number">1</div>
										</div>
									</div>
								</div>
								<div class="steps_content-right">
									<div class="swiper is-steps">
										<div class="swiper-wrapper is-steps">
											<div data-w-id="bbae185b-d4b6-5678-26ea-b37bb8c4da8f"
												class="swiper-slide is-steps">
												<div class="steps_slide_wrapper">
													<div class="steps_slide_image">
														<div class="steps_slide_image-desktop">
															<div class="background-video_component">
																<video autoplay="true" loop="" playsinline="true"
																	muted="" class="background-video_component lazy"
																	preload="none"
																	poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a2c155403b13e976287_Index%20Step%20kort%201%20V1%2016-9-poster-00001.jpg">
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a2c155403b13e976287_Index%20Step%20kort%201%20V1%2016-9-transcode.mp4"
																		type="video/mp4" src="" />
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a2c155403b13e976287_Index%20Step%20kort%201%20V1%2016-9-transcode.webm"
																		type="video/webm" src="" />
																</video>
															</div>
														</div>
														<div class="steps_slide_image-mobile">
															<div class="background-video_component">
																<video autoplay="true" loop="" playsinline="true"
																	muted="" class="background-video_component lazy"
																	preload="none"
																	poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a181cbf7ee4427da6d5_Index%20Step%20kort%201%20V1%209-16-poster-00001.jpg">
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a181cbf7ee4427da6d5_Index%20Step%20kort%201%20V1%209-16-transcode.mp4"
																		type="video/mp4" src="" />
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a181cbf7ee4427da6d5_Index%20Step%20kort%201%20V1%209-16-transcode.webm"
																		type="video/webm" src="" />
																</video>
															</div>
														</div>
													</div>
													<div class="steps_slide_image-opacity"></div>
													<div class="steps_slide_text-container">
														<div class="steps_slide_number-container">
															<div class="heading-style-h5">
																<div class="text-color-secondary">01</div>
															</div>
														</div>
														<div class="text-wrap-balance">
															<h3 class="text-color-secondary">Record and livestream every
																match, home and away.</h3>
														</div>
													</div>
												</div>
											</div>
											<div data-w-id="bbae185b-d4b6-5678-26ea-b37bb8c4da8f"
												class="swiper-slide is-steps">
												<div class="steps_slide_wrapper">
													<div class="steps_slide_image">
														<div class="steps_slide_image-desktop">
															<div class="background-video_component">
																<video autoplay="true" loop="" playsinline="true"
																	muted="" class="background-video_component lazy"
																	preload="none"
																	poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a47a4b09ba89ba60660_Index%20Step%20kort%202%20V1%2016-9-poster-00001.jpg">
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a47a4b09ba89ba60660_Index%20Step%20kort%202%20V1%2016-9-transcode.mp4"
																		type="video/mp4" src="" />
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a47a4b09ba89ba60660_Index%20Step%20kort%202%20V1%2016-9-transcode.webm"
																		type="video/webm" src="" />
																</video>
															</div>
														</div>
														<div class="steps_slide_image-mobile">
															<div class="background-video_component">
																<video autoplay="true" loop="" playsinline="true"
																	muted="" class="background-video_component lazy"
																	preload="none"
																	poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a3796f121fcf0e3fa3b_Index%20Step%20kort%202%20V1%209-16-poster-00001.jpg">
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a3796f121fcf0e3fa3b_Index%20Step%20kort%202%20V1%209-16-transcode.mp4"
																		type="video/mp4" src="" />
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a3796f121fcf0e3fa3b_Index%20Step%20kort%202%20V1%209-16-transcode.webm"
																		type="video/webm" src="" />
																</video>
															</div>
														</div>
													</div>
													<div class="steps_slide_image-opacity"></div>
													<div class="steps_slide_text-container">
														<div class="steps_slide_number-container">
															<div class="heading-style-h5">
																<div class="text-color-secondary">02</div>
															</div>
														</div>
														<div class="text-wrap-balance">
															<h3 class="text-color-secondary">Instantly relive the match
																and break down every key play.</h3>
														</div>
													</div>
												</div>
											</div>
											<div data-w-id="bbae185b-d4b6-5678-26ea-b37bb8c4da8f"
												class="swiper-slide is-steps">
												<div class="steps_slide_wrapper">
													<div class="steps_slide_image">
														<div class="steps_slide_image-desktop">
															<div class="background-video_component">
																<video autoplay="true" loop="" playsinline="true"
																	muted="" class="background-video_component lazy"
																	preload="none"
																	poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a66fed727684bc967e0_Index%20Step%20kort%203%20V1%2016-9-poster-00001.jpg">
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a66fed727684bc967e0_Index%20Step%20kort%203%20V1%2016-9-transcode.mp4"
																		type="video/mp4" src="" />
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a66fed727684bc967e0_Index%20Step%20kort%203%20V1%2016-9-transcode.webm"
																		type="video/webm" src="" />
																</video>
															</div>
														</div>
														<div class="steps_slide_image-mobile">
															<div class="background-video_component">
																<video autoplay="true" loop="" playsinline="true"
																	muted="" class="background-video_component lazy"
																	preload="none"
																	poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a559b6f95fa09248ecf_Index%20Step%20kort%203%20V1%209-16-poster-00001.jpg">
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a559b6f95fa09248ecf_Index%20Step%20kort%203%20V1%209-16-transcode.mp4"
																		type="video/mp4" src="" />
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a559b6f95fa09248ecf_Index%20Step%20kort%203%20V1%209-16-transcode.webm"
																		type="video/webm" src="" />
																</video>
															</div>
														</div>
													</div>
													<div class="steps_slide_image-opacity"></div>
													<div class="steps_slide_text-container">
														<div class="steps_slide_number-container">
															<div class="heading-style-h5">
																<div class="text-color-secondary">03</div>
															</div>
														</div>
														<div class="text-wrap-balance">
															<h3 class="text-color-secondary">Share and celebrate your
																winning moments.</h3>
														</div>
													</div>
												</div>
											</div>
											<div data-w-id="bbae185b-d4b6-5678-26ea-b37bb8c4da8f"
												class="swiper-slide is-steps">
												<div class="steps_slide_wrapper">
													<div class="steps_slide_image">
														<div class="steps_slide_image-desktop">
															<div class="background-video_component">
																<video autoplay="true" loop="" playsinline="true"
																	muted="" class="background-video_component lazy"
																	preload="none"
																	poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a2c155403b13e976287_Index%20Step%20kort%201%20V1%2016-9-poster-00001.jpg">
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a2c155403b13e976287_Index%20Step%20kort%201%20V1%2016-9-transcode.mp4"
																		type="video/mp4" src="" />
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a2c155403b13e976287_Index%20Step%20kort%201%20V1%2016-9-transcode.webm"
																		type="video/webm" src="" />
																</video>
															</div>
														</div>
														<div class="steps_slide_image-mobile">
															<div class="background-video_component">
																<video autoplay="true" loop="" playsinline="true"
																	muted="" class="background-video_component lazy"
																	preload="none"
																	poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a181cbf7ee4427da6d5_Index%20Step%20kort%201%20V1%209-16-poster-00001.jpg">
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a181cbf7ee4427da6d5_Index%20Step%20kort%201%20V1%209-16-transcode.mp4"
																		type="video/mp4" src="" />
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a181cbf7ee4427da6d5_Index%20Step%20kort%201%20V1%209-16-transcode.webm"
																		type="video/webm" src="" />
																</video>
															</div>
														</div>
													</div>
													<div class="steps_slide_image-opacity"></div>
													<div class="steps_slide_text-container">
														<div class="steps_slide_number-container">
															<div class="heading-style-h5">
																<div class="text-color-secondary">01</div>
															</div>
														</div>
														<div class="text-wrap-balance">
															<h3 class="text-color-secondary">Record and livestream every
																match, home and away.</h3>
														</div>
													</div>
												</div>
											</div>
											<div data-w-id="bbae185b-d4b6-5678-26ea-b37bb8c4da8f"
												class="swiper-slide is-steps">
												<div class="steps_slide_wrapper">
													<div class="steps_slide_image">
														<div class="steps_slide_image-desktop">
															<div class="background-video_component">
																<video autoplay="true" loop="" playsinline="true"
																	muted="" class="background-video_component lazy"
																	preload="none"
																	poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a47a4b09ba89ba60660_Index%20Step%20kort%202%20V1%2016-9-poster-00001.jpg">
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a47a4b09ba89ba60660_Index%20Step%20kort%202%20V1%2016-9-transcode.mp4"
																		type="video/mp4" src="" />
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a47a4b09ba89ba60660_Index%20Step%20kort%202%20V1%2016-9-transcode.webm"
																		type="video/webm" src="" />
																</video>
															</div>
														</div>
														<div class="steps_slide_image-mobile">
															<div class="background-video_component">
																<video autoplay="true" loop="" playsinline="true"
																	muted="" class="background-video_component lazy"
																	preload="none"
																	poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a3796f121fcf0e3fa3b_Index%20Step%20kort%202%20V1%209-16-poster-00001.jpg">
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a3796f121fcf0e3fa3b_Index%20Step%20kort%202%20V1%209-16-transcode.mp4"
																		type="video/mp4" src="" />
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a3796f121fcf0e3fa3b_Index%20Step%20kort%202%20V1%209-16-transcode.webm"
																		type="video/webm" src="" />
																</video>
															</div>
														</div>
													</div>
													<div class="steps_slide_image-opacity"></div>
													<div class="steps_slide_text-container">
														<div class="steps_slide_number-container">
															<div class="heading-style-h5">
																<div class="text-color-secondary">02</div>
															</div>
														</div>
														<div class="text-wrap-balance">
															<h3 class="text-color-secondary">Instantly relive the match
																and break down every key play.</h3>
														</div>
													</div>
												</div>
											</div>
											<div data-w-id="bbae185b-d4b6-5678-26ea-b37bb8c4da8f"
												class="swiper-slide is-steps">
												<div class="steps_slide_wrapper">
													<div class="steps_slide_image">
														<div class="steps_slide_image-desktop">
															<div class="background-video_component">
																<video autoplay="true" loop="" playsinline="true"
																	muted="" class="background-video_component lazy"
																	preload="none"
																	poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a66fed727684bc967e0_Index%20Step%20kort%203%20V1%2016-9-poster-00001.jpg">
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a66fed727684bc967e0_Index%20Step%20kort%203%20V1%2016-9-transcode.mp4"
																		type="video/mp4" src="" />
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a66fed727684bc967e0_Index%20Step%20kort%203%20V1%2016-9-transcode.webm"
																		type="video/webm" src="" />
																</video>
															</div>
														</div>
														<div class="steps_slide_image-mobile">
															<div class="background-video_component">
																<video autoplay="true" loop="" playsinline="true"
																	muted="" class="background-video_component lazy"
																	preload="none"
																	poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a559b6f95fa09248ecf_Index%20Step%20kort%203%20V1%209-16-poster-00001.jpg">
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a559b6f95fa09248ecf_Index%20Step%20kort%203%20V1%209-16-transcode.mp4"
																		type="video/mp4" src="" />
																	<source
																		data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F68874a559b6f95fa09248ecf_Index%20Step%20kort%203%20V1%209-16-transcode.webm"
																		type="video/webm" src="" />
																</video>
															</div>
														</div>
													</div>
													<div class="steps_slide_image-opacity"></div>
													<div class="steps_slide_text-container">
														<div class="steps_slide_number-container">
															<div class="heading-style-h5">
																<div class="text-color-secondary">03</div>
															</div>
														</div>
														<div class="text-wrap-balance">
															<h3 class="text-color-secondary">Share and celebrate your
																winning moments.</h3>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper_navigation is-steps">
											<div class="swiper-pagination">
												<div class="swiper-pagination-bullet-active"></div>
												<div class="swiper-pagination-bullet"></div>
											</div>
											<div class="slider-sports_arrows-wrapper">
												<div class="swiper_arrow left">
													<div class="interactive2_arrow-icon w-embed">
														<svg width="100%" height="100%" viewBox="0 0 16 16" fill="none"
															xmlns="http://www.w3.org/2000/svg">
															<path
																d="M3.31066 8.75001L9.03033 14.4697L7.96967 15.5303L0.439339 8.00001L7.96967 0.469676L9.03033 1.53034L3.31066 7.25001L15.5 7.25L15.5 8.75L3.31066 8.75001Z"
																fill="currentColor"></path>
														</svg>
													</div>
												</div>
												<div class="swiper_arrow right">
													<div class="interactive2_arrow-icon right w-embed">
														<svg width="100%" height="100%" viewBox="0 0 16 16" fill="none"
															xmlns="http://www.w3.org/2000/svg">
															<path
																d="M3.31066 8.75001L9.03033 14.4697L7.96967 15.5303L0.439339 8.00001L7.96967 0.469676L9.03033 1.53034L3.31066 7.25001L15.5 7.25L15.5 8.75L3.31066 8.75001Z"
																fill="currentColor"></path>
														</svg>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="script_steps-section w-embed w-script">
									<!-- STEPS - Step count up scroll interaction -->
									<script src="inline/script-24.js"></script>
									<!-- STEPS - Swiper config -->
									<script src="inline/script-25.js"></script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
