<section color-theme="beige" class="section_steps background-color-primary">
	<div class="padding-global">
		<div class="container-large">
			<div class="padding-section-medium">
				<div class="margin-bottom margin-xlarge">
					<div class="max-width-large">
						<div class="margin-bottom margin-small">
							<h2>
								Kabaka 2 has of a wide range of services:
								<br />
								all in one perfect location
							</h2>
						</div>
					</div>
				</div>
				<div class="steps_component">
					<div class="steps_content-left">
						<div class="steps_counter">
							<div>
								<div class="steps_number">0</div>
							</div>
							<div class="steps_number-wrapper">
								<div class="steps_number-container">
									<div class="steps_number">1</div>
								</div>
							</div>
						</div>
						<div class="margin-top margin-small">
							<div class="steps_counter-label" data-steps-label>
								Fuel Station
							</div>
						</div>
					</div>
					<div class="steps_content-right">
						<div class="swiper is-steps">
							<div class="swiper-wrapper is-steps">
								<div data-w-id="bbae185b-d4b6-5678-26ea-b37bb8c4da8f" class="swiper-slide is-steps"
									data-step-label="Fuel Station">
									<div class="steps_slide_wrapper">
										<div class="steps_slide_image">
											<div class="steps_slide_image-desktop">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://ik.imagekit.io/dr5fryhth/kabaka/Pi7_Image_Tool/fuel">
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/fuelstation.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/fuelstation.mp4"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
											<div class="steps_slide_image-mobile">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://ik.imagekit.io/dr5fryhth/kabaka/Pi7_Image_Tool/fuel">
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/fuelstation.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/fuelstation.mp4"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
										</div>
										<div class="steps_slide_image-opacity"></div>
										<div class="steps_slide_text-container">
											<div class="steps_slide_number-container">
												<div class="heading-style-h5">
													<div class="text-color-secondary">01. Fuel Station</div>
												</div>
											</div>
											<div class="text-wrap-balance">
												<h3 class="text-color-secondary">Refill your vehicle tank with quality
													gas that keeps you on the road.</h3>
											</div>
										</div>
									</div>
								</div>
								<div data-w-id="bbae185b-d4b6-5678-26ea-b37bb8c4da8f" class="swiper-slide is-steps"
									data-step-label="Mart">
									<div class="steps_slide_wrapper">
										<div class="steps_slide_image">
											<div class="steps_slide_image-desktop">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://kabaka.lon1.cdn.digitaloceanspaces.com/mart-poster.jpg">
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/mart-video.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/mart-video.mp4"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
											<div class="steps_slide_image-mobile">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://kabaka.lon1.cdn.digitaloceanspaces.com/mart-poster.jpg">
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/mart-video.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/mart-video.mp4"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
										</div>
										<div class="steps_slide_image-opacity"></div>
										<div class="steps_slide_text-container">
											<div class="steps_slide_number-container">
												<div class="heading-style-h5">
													<div class="text-color-secondary">02. SuperMart</div>
												</div>
											</div>
											<div class="text-wrap-balance">
												<h3 class="text-color-secondary">Smart shopping starts here at Kabaka.
													Grab all your essentials.</h3>
											</div>
										</div>
									</div>
								</div>
								<div data-w-id="bbae185b-d4b6-5678-26ea-b37bb8c4da8f" class="swiper-slide is-steps"
									data-step-label="Car Wash">
									<div class="steps_slide_wrapper">
										<div class="steps_slide_image">
											<div class="steps_slide_image-desktop">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://ik.imagekit.io/dr5fryhth/kabaka/washhoes">
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/carwash.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/carwash.mp4"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
											<div class="steps_slide_image-mobile">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://ik.imagekit.io/dr5fryhth/kabaka/washhoes">
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/carwash.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/carwash.mp4"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
										</div>
										<div class="steps_slide_image-opacity"></div>
										<div class="steps_slide_text-container">
											<div class="steps_slide_number-container">
												<div class="heading-style-h5">
													<div class="text-color-secondary">03. Car Wash</div>
												</div>
											</div>
											<div class="text-wrap-balance">
												<h3 class="text-color-secondary">Wash your ride at Kabaka and enjoy the
													shine from our experienced workers.
												</h3>
											</div>
										</div>
									</div>
								</div>
								<div data-w-id="bbae185b-d4b6-5678-26ea-b37bb8c4da8f" class="swiper-slide is-steps"
									data-step-label="Chop Bar">
									<div class="steps_slide_wrapper">
										<div class="steps_slide_image">
											<div class="steps_slide_image-desktop">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://ik.imagekit.io/dr5fryhth/fufu-img">
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/chopbar-video.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/chopbar-video.mp4"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
											<div class="steps_slide_image-mobile">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://ik.imagekit.io/dr5fryhth/fufu-img">
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/chopbar-video.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/chopbar-video.mp4"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
										</div>
										<div class="steps_slide_image-opacity"></div>
										<div class="steps_slide_text-container">
											<div class="steps_slide_number-container">
												<div class="heading-style-h5">
													<div class="text-color-secondary">04. Chop Bar</div>
												</div>
											</div>
											<div class="text-wrap-balance">
												<h3 class="text-color-secondary">Enjoy delicious meals at Kabaka
													Plaza. We got you covered.</h3>
											</div>
										</div>
									</div>
								</div>
								<div data-w-id="bbae185b-d4b6-5678-26ea-b37bb8c4da8f" class="swiper-slide is-steps"
									data-step-label="Cold Store">
									<div class="steps_slide_wrapper">
										<div class="steps_slide_image">
											<div class="steps_slide_image-desktop">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://kabaka.lon1.cdn.digitaloceanspaces.com/cold-store-poster.jpg">
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/cold-store-video.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/cold-store-video.mp4"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
											<div class="steps_slide_image-mobile">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://kabaka.lon1.cdn.digitaloceanspaces.com/cold-store-poster.jpg">
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/cold-store-video.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/cold-store-video.mp4"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
										</div>
										<div class="steps_slide_image-opacity"></div>
										<div class="steps_slide_text-container">
											<div class="steps_slide_number-container">
												<div class="heading-style-h5">
													<div class="text-color-secondary">05. Cold Store</div>
												</div>
											</div>
											<div class="text-wrap-balance">
												<h3 class="text-color-secondary">Get frozen meat, fish and fruits from
													the cold store at Kabaka Plaza.</h3>
											</div>
										</div>
									</div>
								</div>
								<div data-w-id="bbae185b-d4b6-5678-26ea-b37bb8c4da8f" class="swiper-slide is-steps"
									data-step-label="Office Space &amp; Lounge">
									<div class="steps_slide_wrapper">
										<div class="steps_slide_image">
											<div class="steps_slide_image-desktop">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://kabaka.lon1.cdn.digitaloceanspaces.com/lounge.jpg">
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/lounge.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/lounge.mp4"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
											<div class="steps_slide_image-mobile">
												<div class="background-video_component">
													<video autoplay="true" loop="" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://kabaka.lon1.cdn.digitaloceanspaces.com/lounge.jpg">
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/lounge.mp4"
															type="video/mp4" src="" />
														<source
															data-src="https://kabaka.lon1.cdn.digitaloceanspaces.com/lounge.mp4"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
										</div>
										<div class="steps_slide_image-opacity"></div>
										<div class="steps_slide_text-container">
											<div class="steps_slide_number-container">
												<div class="heading-style-h5">
													<div class="text-color-secondary">06. Lounge & Office Space</div>
												</div>
											</div>
											<div class="text-wrap-balance">
												<h3 class="text-color-secondary">Complete work and relax at our neatly
													furnished
													office space and lounge.</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper_navigation is-steps">
								<div class="swiper-pagination">
									<div class="swiper-pagination-bullet-active"></div>
									<div class="swiper-pagination-bullet"></div>
								</div>
								<div class="slider-sports_arrows-wrapper">
									<div class="swiper_arrow left">
										<div class="interactive2_arrow-icon w-embed">
											<svg width="100%" height="100%" viewBox="0 0 16 16" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M3.31066 8.75001L9.03033 14.4697L7.96967 15.5303L0.439339 8.00001L7.96967 0.469676L9.03033 1.53034L3.31066 7.25001L15.5 7.25L15.5 8.75L3.31066 8.75001Z"
													fill="currentColor"></path>
											</svg>
										</div>
									</div>
									<div class="swiper_arrow right">
										<div class="interactive2_arrow-icon right w-embed">
											<svg width="100%" height="100%" viewBox="0 0 16 16" fill="none"
												xmlns="http://www.w3.org/2000/svg">
												<path
													d="M3.31066 8.75001L9.03033 14.4697L7.96967 15.5303L0.439339 8.00001L7.96967 0.469676L9.03033 1.53034L3.31066 7.25001L15.5 7.25L15.5 8.75L3.31066 8.75001Z"
													fill="currentColor"></path>
											</svg>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="script_steps-section w-embed w-script">
						<!-- STEPS - Step count up scroll interaction -->
						<script src="inline/script-24.js"></script>
						<!-- STEPS - Swiper config -->
						<script src="inline/script-25.js"></script>
					</div>
					<div class="steps_label_styles w-embed">
						<style>
							.steps_content-left {
								flex-direction: column;
								height: auto;
								overflow: visible;
							}

							.steps_counter {
								display: flex;
								align-items: flex-start;
								height: 17.5rem;
								overflow: hidden;
							}

							.steps_counter-label {
								font-size: 2.25rem;
								line-height: 1.15;
								font-weight: 600;
								color: #000;
							}

							@media screen and (max-width: 991px) {
								.steps_counter {
									height: 10rem;
								}
							}
						</style>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
