<section color-theme="beige" language="" class="section_testimonial8 background-color-primary">
				<div class="container-medium">
					<div class="padding-section-large">
						<div class="padding-global">
							<div class="margin-bottom margin-medium">
								<div class="text-align-center">
									<div class="max-width-large align-center">
										<h3 animate="false" class="heading-style-h2">Trusted by clubs and
											associations worldwide</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="logos-marquee_wrapper">
							<div class="logos-marquee-top">
								<div class="logos-marquee_container">
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
								</div>
							</div>
						</div>
						<div class="logos-marquee_wrapper">
							<div class="logos-marquee-bot">
								<div class="logos-marquee_container">
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
									<div class="testimonial7_logo-wrapper border-radius-medium">
										<img src="https://ik.imagekit.io/dr5fryhth/kabaka/footerlogo.png" loading="lazy" alt="Kabaka 2" class="testimonial7_logo" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="logos-marquee_css w-embed">
					<link rel="stylesheet" href="inline/style-12.css" />
				</div>
				<div class="logos-marquee_script w-embed w-script">
					<script src="inline/script-28.js"></script>
				</div>
			</section>
			
