<section data-geo-show="" color-theme="beige" class="section_veo-cam-go background-color-primary">
				<div class="padding-global">
					<div class="container-large">
						<div class="padding-section-large">
							<div class="text-align-center">
								<div class="max-width-large align-center">
									<div class="margin-bottom margin-small">
										<h2>Record every match</h2>
									</div>
									<p class="text-size-medium">
										Whether you’re aiming for the top or just playing for fun, Veo has a solution
										for you.
										<br />
									</p>
								</div>
							</div>
							<div class="margin-top margin-xlarge">
								<div class="camgo_grid">
									<div class="camgo_card">
										<div class="margin-bottom margin-medium">
											<div class="camgo_video">
												<div class="background-video_component">
													<video autoplay="true" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6852c7266103e0dc31b64c26_output-white-poster-00001.jpg">
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6852c7266103e0dc31b64c26_output-white-transcode.mp4"
															type="video/mp4" />
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6852c7266103e0dc31b64c26_output-white-transcode.webm"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
										</div>
										<div class="margin-bottom margin-xsmall">
											<div class="heading-style-tagline">VEO CAM 3</div>
										</div>
										<div class="margin-bottom margin-small">
											<h3>The all-in-one camera for the full match experience</h3>
										</div>
										<div class="text-size-medium">
											<div animate="false" class="text-rich-text w-richtext">
												<p>Veo Cam 3 combines powerful hardware and built-in AI to record
													broadcast-quality video, follow the action, and livestream your
													matches. From practice sessions to big leagues, it’s the all-in-one
													recording solution — with tools to help you analyse and elevate your
													game.</p>
												<p>
													<strong>Subscription from</strong>
													<strong data-catalog-api-monthly="" data-catalog-api-sku="510TEA001"
														data-catalog-api-field="plans[Annual].amount"
														data-catalog-api-auto-currency="">{PRICE}</strong>
													<strong>
														/ month
														<br />
														One-time camera purchase from
													</strong>
													<strong data-catalog-api-auto-currency=""
														data-catalog-api-sku="100CAM002"
														data-catalog-api-field="plans[0].amount">{PRICE}</strong>
												</p>
											</div>
										</div>
										<div class="margin-top margin-medium">
											<div class="button-group">
												<a data-wf-native-id-path="7f3353be-2f5b-aa11-cd69-fc9223e63968"
													data-wf-ao-click-engagement-tracking="true"
													data-wf-element-id="7f3353be-2f5b-aa11-cd69-fc9223e63968"
													href="/product/veo-cam-3" class="button w-button">Explore Veo Cam
													3</a>
												<a data-wf-native-id-path="7f3353be-2f5b-aa11-cd69-fc9223e6396a"
													data-wf-ao-click-engagement-tracking="true"
													data-wf-element-id="7f3353be-2f5b-aa11-cd69-fc9223e6396a"
													href="#"
													class="button is-secondary w-button">Buy now</a>
											</div>
										</div>
									</div>
									<div class="camgo_card">
										<div class="margin-bottom margin-medium">
											<div class="camgo_video">
												<div class="background-video_component">
													<video autoplay="true" playsinline="true" muted=""
														class="background-video_component lazy" preload="none"
														poster="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F689337f2f9e2fbb7bd574eb7_veogo-webtilt-1920-poster-00001.jpg">
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F689337f2f9e2fbb7bd574eb7_veogo-webtilt-1920-transcode.mp4"
															type="video/mp4" />
														<source
															data-src="https://cdn.prod.website-files.com/65a1660e61e47f70a246ac5c%2F6852c7266103e0dc31b64c26_output-white-transcode.webm"
															type="video/webm" src="" />
													</video>
												</div>
											</div>
										</div>
										<div class="margin-bottom margin-xsmall">
											<div class="heading-style-tagline">VEO GO</div>
										</div>
										<div class="margin-bottom margin-small">
											<h3>Powered by the iPhones you already have</h3>
										</div>
										<div class="text-size-medium">
											<div animate="false" class="text-rich-text w-richtext">
												<p>Automatically record your matches using just three iPhones you
													already own – two to record, one to control. Veo Go turns the
													devices in your pockets into a smart, portable recording kit.
													Whether it’s everyday matches or big moments, Veo Go lets you relive
													the action and share it with ease.</p>
												<p>
													<strong>Subscription from</strong>
													<strong data-catalog-api-auto-currency=""
														data-catalog-api-sku="580VGO001"
														data-catalog-api-field="plans[Annual].pricingTiers[0].price"
														data-catalog-api-monthly="">{PRICE}</strong>
													<strong>
														/ month
														<br />
														One-time phone rig purchase of
													</strong>
													<strong data-catalog-api-auto-currency=""
														data-catalog-api-sku="281GPH001"
														data-catalog-api-field="plans[0].amount">{PRICE}</strong>
												</p>
											</div>
										</div>
										<div class="margin-top margin-medium">
											<div class="button-group">
												<a data-wf-native-id-path="5274dc17-e1aa-8064-3d11-60d2475f1876"
													data-wf-ao-click-engagement-tracking="true"
													data-wf-element-id="5274dc17-e1aa-8064-3d11-60d2475f1876"
													href="/product/veo-go" class="button w-button">Explore Veo Go</a>
												<a data-wf-native-id-path="5274dc17-e1aa-8064-3d11-60d2475f1878"
													data-wf-ao-click-engagement-tracking="true"
													data-wf-element-id="5274dc17-e1aa-8064-3d11-60d2475f1878"
													href="#"
													class="button is-secondary w-button">Buy now</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			